force-app/main/default/flows/Asset_Before_Insert_Only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_to_Reset_Change_Reason</name>
        <label>Check to Reset Change Reason</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>What_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Employee_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Employee_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Employee_Count__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ResetEmployeeCountChangeReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Change_Reason</targetReference>
            </connector>
            <label>Check Employee Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_Count_Changed</name>
        <label>Employee Count Changed?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_to_Reset_Change_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Employee_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Employee_Count__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Employee_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Count_Date_Updated</targetReference>
            </connector>
            <label>Check Employee Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Product</name>
        <label>What Product?</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HROI_or_Oasis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>HROI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Oasis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_and_Plan_Code</targetReference>
            </connector>
            <label>HROI or Oasis</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>ResetEmployeeCountChangeReason</name>
        <dataType>Boolean</dataType>
        <expression>IF( IF(PRIORVALUE({!$Record.Product_Employee_Count__c} ) &gt; {!$Record.Product_Employee_Count__c},
IF(({!$Record.Product_Employee_Count__c}+1)/(PRIORVALUE({!$Record.Product_Employee_Count__c} )+1) &lt; 0.90, FALSE, TRUE),
IF((PRIORVALUE({!$Record.Product_Employee_Count__c})+1)/({!$Record.Product_Employee_Count__c}+1) &lt; 0.90, FALSE, TRUE)) &amp;&amp;
NOT(ISPICKVAL({!$Record.Product_Employee_Count_Change_Reason__c}, &quot;&quot;)) &amp;&amp;
{!$Record.Product_Plan_Code__c} = &quot;1010&quot; , TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Asset Before Insert Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Change_Reason</name>
        <label>Clear Change Reason</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>What_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee_Count_Change_Reason_Notes__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Employee_Count_Change_Reason__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Employee_Count_Date_Updated</name>
        <label>Employee Count Date Updated</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_to_Reset_Change_Reason</targetReference>
        </connector>
        <inputAssignments>
            <field>Employee_Count_Date_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Is_Start_Date_blank</name>
        <label>Is Start Date blank?</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Name_and_Plan_Code</name>
        <label>Update Name and Plan Code</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Is_Start_Date_blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Product2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Plan_Code__c</field>
            <value>
                <elementReference>$Record.Product2.ProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee_Count_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Employee_Count__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>5</triggerOrder>
</Flow>
