force-app/main/default/flows/Chatter_Notification_to_Opportunity_Owners.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_to_Chatter</name>
        <label>Notification to Chatter</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>iterate_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>iterate_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Strategic_Account_Partner_set</name>
        <label>Strategic Account Partner set?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Referral_National_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_National_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Opportunity_Records</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>APR0158091 Update 11/7 - ECP</description>
    <environments>Default</environments>
    <interviewLabel>Chatter Notification to Opportunity Owners {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chatter Notification to Opportunity Owners</label>
    <loops>
        <name>iterate_Opportunity</name>
        <label>iterate Opportunity</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Open_Opportunity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Notification_to_Chatter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Opportunity_Records</name>
        <label>Get Open Opportunity Records</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterate_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Strategic_Account_Partner_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_National_Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NbrOfOpenOpps__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Referral_National_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!iterate_Opportunity.Owner.Id}] This Prospect-Client record has been identified as a Strategic Account, and the &quot;Strategic Account Partner&quot; field has been updated to reflect that connection. You are receiving this notification because you have an open opportunity on this account.

For more information about Strategic Account policy, please see Strategic Accounts link for more information - https://paychex.sharepoint.com/teams/SalesPolicy/SalesOperatingPolicy/SitePages/Strategic-Accounts%20Policies.aspx
@[{!iterate_Opportunity.Owner.ManagerId}]</text>
    </textTemplates>
</Flow>
