force-app/main/default/flows/Cloud_Coach_Ticket_Compiled_Comments_Resolution_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Ticket_Comments</name>
        <label>Update Ticket - Comments</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compileCommentsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resolution_Details_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Ticket_Resolution_Details_Log</name>
        <label>Update Ticket - Resolution Details Log</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Resolution_Details_Log__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>compileResolutionDetailsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Resolution_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Comments_Changed</name>
        <label>Comments Changed?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Resolution_Details_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ticket_Comments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resolution_Details_Changed</name>
        <label>Resolution Details Changed?</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resolution_Details__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ticket_Resolution_Details_Log</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>compileCommentsFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Comments__c} + {!$User.FirstName}+&apos; &apos;+ {!$User.LastName} +&apos;: &apos;+ TEXT({!$Flow.CurrentDateTime})  + &apos;&lt;br/&gt;&apos; +
 {!$Record.Comment__c} + &apos;&lt;br/&gt; &lt;br/&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>compileResolutionDetailsFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Resolution_Details_Log__c} + TEXT({!$Flow.CurrentDateTime})  + &apos;&lt;br/&gt;&apos; + {!$Record.Resolution_Details__c} + &apos;&lt;br/&gt; &lt;br/&gt;&apos;</expression>
    </formulas>
    <interviewLabel>[Cloud Coach] Ticket Compiled Comments / Resolution Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cloud Coach] Ticket Compiled Comments / Resolution Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comments_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Comment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Resolution_Details__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>project_cloud__Ticket__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
