force-app/main/default/flows/Cloud_Coach_Stakeholders_Email_Notifications_EPV_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_External_Stakeholder</name>
        <label>Send Email to External Stakeholder</label>
        <locationX>50</locationX>
        <locationY>794</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>externalEmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>do_not_reply_sfdc@paychex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_body_external</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Internal_Stakeholder</name>
        <label>Send Email to Internal Stakeholder</label>
        <locationX>974</locationX>
        <locationY>1094</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_User_Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>do_not_reply_sfdc@paychex.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>email_subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>email_body_internal</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>External_Email_Recipients_Empty</name>
        <label>External Email Recipients Empty?</label>
        <locationX>182</locationX>
        <locationY>686</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>externalEmailRecipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_External_Stakeholder</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>External_or_Internal_Stakeholder</name>
        <label>External or Internal Stakeholder?</label>
        <locationX>578</locationX>
        <locationY>578</locationY>
        <defaultConnector>
            <targetReference>Parent_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internal</defaultConnectorLabel>
        <rules>
            <name>External</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Published_By_Id__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>External_Email_Recipients_Empty</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Task_or_External_Deliverable</name>
        <label>Is Project Task or External Deliverable?</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>External_or_Internal_Stakeholder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Parent_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>project_cloud__Project_Task__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_Task</targetReference>
            </connector>
            <label>Project Task</label>
        </rules>
        <rules>
            <name>External_Deliverable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Parent_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ccpe_ocp__External_Deliverable__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_External_Deliverable</targetReference>
            </connector>
            <label>External Deliverable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Type</name>
        <label>Parent Type?</label>
        <locationX>974</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Get_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Parent_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>project_cloud__Card__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Card</targetReference>
            </connector>
            <label>Card</label>
        </rules>
        <rules>
            <name>Requirement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Parent_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>project_cloud__Requirement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Requirement</targetReference>
            </connector>
            <label>Requirement</label>
        </rules>
        <rules>
            <name>Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.project_cloud__Parent_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>project_cloud__Ticket__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ticket</targetReference>
            </connector>
            <label>Ticket</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>externalEmailRecipients</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK( {!Get_External_Deliverable.ccpe_ocp__Stakeholder_Contact__r.project_cloud__Email__c} ), 
{!Get_Project_Task.project_cloud__External_Assignees__c}, {!Get_External_Deliverable.ccpe_ocp__Stakeholder_Contact__r.project_cloud__Email__c} )</expression>
    </formulas>
    <formulas>
        <name>parentRecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_550, FIND(&apos;/services&apos;, $Api.Enterprise_Server_URL_550)) &amp; {!$Record.project_cloud__Parent_Id__c}</expression>
    </formulas>
    <formulas>
        <name>parentRecordName_External</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!$Record.project_cloud__Parent_Type__c},
    &apos;project_cloud__Project_Task__c&apos;, &apos;&lt;strong&gt;Project Task Name: &lt;/strong&gt;&apos; + {!Get_Project_Task.Name},
    &apos;project_cloud__Card__c&apos;, &apos;&lt;strong&gt;Card Name: &lt;/strong&gt;&apos; + {!Get_Card.project_cloud__Card_Name__c},
    &apos;project_cloud__Requirement__c&apos;, &apos;&lt;strong&gt;Requirement Name: &lt;/strong&gt;&apos; + {!Get_Requirement.Name},
    &apos;project_cloud__Ticket__c&apos;, &apos;&lt;strong&gt;Ticket Name: &lt;/strong&gt;&apos; + {!Get_Ticket.project_cloud__Ticket_Name__c},
    &apos;&lt;strong&gt;External Deliverable Name: &lt;/strong&gt;&apos; + {!Get_External_Deliverable.Name}
)</expression>
    </formulas>
    <formulas>
        <name>parentRecordName_Internal</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!$Record.project_cloud__Parent_Type__c},
    &apos;project_cloud__Project_Task__c&apos;, &apos;&lt;strong&gt;Project Task Name: &lt;/strong&gt;&apos; + {!parentRecordLink},
    &apos;project_cloud__Card__c&apos;, &apos;&lt;strong&gt;Card Name: &lt;/strong&gt;&apos; + {!parentRecordLink},
    &apos;project_cloud__Requirement__c&apos;, &apos;&lt;strong&gt;Requirement Name: &lt;/strong&gt;&apos; + {!parentRecordLink},
    &apos;project_cloud__Ticket__c&apos;, &apos;&lt;strong&gt;Ticket Name: &lt;/strong&gt;&apos; + {!parentRecordLink},
    &apos;&lt;strong&gt;External Deliverable Name: &lt;/strong&gt;&apos; + {!parentRecordLink}
)</expression>
    </formulas>
    <interviewLabel>[Cloud Coach] Platform Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Cloud Coach] Stakeholders Email Notifications - EPV Chatter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Card</name>
        <label>Get Card</label>
        <locationX>578</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Parent_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_External_Deliverable</name>
        <label>Get External Deliverable</label>
        <locationX>578</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_or_Internal_Stakeholder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Parent_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ccpe_ocp__External_Deliverable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>578</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Project_Task_or_External_Deliverable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Project_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_Task</name>
        <label>Get Project Task</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>External_or_Internal_Stakeholder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Parent_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requirement</name>
        <label>Get Requirement</label>
        <locationX>842</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Parent_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ticket</name>
        <label>Get Ticket</label>
        <locationX>1106</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.project_cloud__Parent_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>project_cloud__Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>974</locationX>
        <locationY>986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Internal_Stakeholder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project_Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
        <object>project_cloud__Cloud_Coach_Communication__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DELETEME</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.project_cloud__Parent_Id__c}-{!$Record.project_cloud__Body__c}-{!$Record.project_cloud__Parent_Type__c}-{!$Record.project_cloud__Project_Id__c}-{!$Record.project_cloud__Published_By__c}-{!$Record.project_cloud__Published_By_Id__c}</text>
    </textTemplates>
    <textTemplates>
        <name>email_body_external</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.project_cloud__Published_By__c} has sent a Chatter Notification with the following details:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Message:&lt;/strong&gt; {!$Record.project_cloud__Body__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!$Record.project_cloud__Published_By_Email__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project:&lt;/strong&gt; {!Get_Project_Record.Name}&lt;/p&gt;&lt;p&gt;{!parentRecordName_External}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Link:&lt;/strong&gt; {!Get_Project_Record.External_Project_View__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>email_body_internal</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.project_cloud__Published_By__c} has sent a Chatter Notification with the following details:&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Message:&lt;/strong&gt; {!$Record.project_cloud__Body__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email&lt;/strong&gt;: {!$Record.project_cloud__Published_By_Email__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project:&lt;/strong&gt; {!Get_Project_Record.Name}&lt;/p&gt;&lt;p&gt;{!parentRecordName_Internal}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>email_subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Chatter Notification for Project: {!Get_Project_Record.Name}</text>
    </textTemplates>
    <variables>
        <name>collectionOfIdOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
