force-app/main/default/flows/Conquer_Email_Bounced_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>End_Cadence</name>
        <label>End Target Cadence</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>DS_Packages__EndCadence</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Start_Call_Cadence</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outcomeRecordId</name>
            <value>
                <elementReference>Get_Outcome_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <stringValue>Bounced Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>touchpointId</name>
            <value>
                <elementReference>$Record.DS_Packages__Cadence_Member__r.DS_Packages__Next_Touchpoint__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DS_Packages__EndCadence</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>End_Non_Target_Cadence</name>
        <label>End Non Target Cadence</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>DS_Packages__EndCadence</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>outcomeRecordId</name>
            <value>
                <elementReference>Get_Outcome_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reason</name>
            <value>
                <stringValue>Bounced Email </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>touchpointId</name>
            <value>
                <elementReference>$Record.DS_Packages__Cadence_Member__r.DS_Packages__Next_Touchpoint__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DS_Packages__EndCadence</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Start_Call_Cadence</name>
        <label>Start Call Cadence</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>DS_Packages__StartCadence</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assignedID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cadenceID</name>
            <value>
                <elementReference>Copy_1_of_Get_Call_Cadence.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>movedfromCadence</name>
            <value>
                <elementReference>$Record.DS_Packages__Touchpoint__r.DS_Packages__Cadence__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectID</name>
            <value>
                <elementReference>$Record.DS_Packages__Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DS_Packages__StartCadence</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Cadence</name>
        <label>Check Cadence</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Target_Cadence</name>
            <conditionLogic>1 AND 2 AND  NOT(3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DS_Packages__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DS_Packages__Cadence_Member__r.DS_Packages__Cadence__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Target</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DS_Packages__Cadence_Member__r.DS_Packages__Cadence__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Non</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Call_Cadence</targetReference>
            </connector>
            <label>Target Cadence</label>
        </rules>
        <rules>
            <name>Non_Target</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DS_Packages__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DS_Packages__Cadence_Member__r.DS_Packages__Cadence__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Non-Target</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Non_Target_Cadence</targetReference>
            </connector>
            <label>Non Target</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Conquer: Email Bounced Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conquer: Email Bounced Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Call_Cadence</name>
        <label>Get Call Cadence</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Bounce Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>DS_Packages__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DS_Packages__Cadence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outcome_Id</name>
        <label>Get Outcome Id</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Cadence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_Bounced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DS_Packages__DS_Touchpoint_Outcome__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Outcome_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DS_Packages__Emails_Bounced__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>DS_Packages__Conversation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
