force-app/main/default/flows/ESR_Flows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Escalated_Chatter</name>
        <label>Case Escalated Chatter</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CaseEscalationChatterMsg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Decide_on_the_path</name>
        <label>Decide on the path</label>
        <locationX>2756</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Audit_Case_Approved</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ESR_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit &amp; Reconciliation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ESR_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Audit Case Approved</label>
        </rules>
        <rules>
            <name>Create_ESR_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Support ESR Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Outbound Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Client_Assigned_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Client_Assigned_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ESR_EventRecord</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Create ESR Event</label>
        </rules>
        <rules>
            <name>Transfer_to_Dedicated_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Dedicated Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Dedicated_Service_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Dedicated Service</label>
        </rules>
        <rules>
            <name>Transfer_to_Outbound_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Outbound Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Outbound_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Outbound Service</label>
        </rules>
        <rules>
            <name>Transfer_to_Audit_Reconciliation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Audit &amp; Reconciliation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Audit_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Audit Reconciliation</label>
        </rules>
        <rules>
            <name>Transfer_to_Conversion_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Audit &amp; Reconciliation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Conversion_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Conversion Renewal</label>
        </rules>
        <rules>
            <name>Transfer_to_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to New Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_New_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to New Case</label>
        </rules>
        <rules>
            <name>Transfer_to_Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Inbound Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Inbound_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Inbound</label>
        </rules>
        <rules>
            <name>Transfer_to_Client_Implementation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Client Implementation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Implementation_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Client Implementation</label>
        </rules>
        <rules>
            <name>Transfer_to_COBRA_SUI_401k</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to COBRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to SUI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to 401k</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_The_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to COBRA,SUI,401k</label>
        </rules>
        <rules>
            <name>Transfer_to_QC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to QC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_QC_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to QC</label>
        </rules>
        <rules>
            <name>Transfer_to_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Processing_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Processing</label>
        </rules>
        <rules>
            <name>Transfer_to_Amendments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Amendments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Related_Amendments_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Amendments</label>
        </rules>
        <rules>
            <name>Transfer_to_Research</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to Research</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Research_Case</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to Research</label>
        </rules>
        <rules>
            <name>Transfer_to_DSR_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to DSR Assignment Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_Research_Case_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer to DSR Assignment</label>
        </rules>
        <rules>
            <name>Pending_Client_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Client Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Follow_Up_Date_to_Next_Bus_Day</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Client Information</label>
        </rules>
        <rules>
            <name>Pending_System_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending System Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Follow_Up_to_3rd_Business_Day</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending System Information</label>
        </rules>
        <rules>
            <name>Case_Is_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Level_1_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Escalated_Chatter</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case Is Escalated</label>
        </rules>
        <rules>
            <name>Transfer_to_PYF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transferred to PYF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Related_PYF_Case</targetReference>
            </connector>
            <label>Transfer to PYF</label>
        </rules>
    </decisions>
    <decisions>
        <name>See_if_Create_Case</name>
        <label>See if Create Case</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Create_Parent_Task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.ESR_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.ESR_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> Conversion Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Parent.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Parent_Parent_Case</targetReference>
            </connector>
            <label>See If We Create Parent Task</label>
        </rules>
    </decisions>
    <description>Flows for ESR cases 
Update for ESR PYF 3/19/2024 - ECP</description>
    <environments>Default</environments>
    <formulas>
        <name>ChecktransferStatusforAction</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.ESRService__c},&quot;Annual Conversion Audit Complete&quot;),&quot;Client Information Required&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>NextBusinessDay</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD(TODAY() - DATE(1900,1,7), 7),
0, TODAY()+1,
5, TODAY() + 2 + 1,
6, TODAY() + 1 + 1,
TODAY() + 1)</expression>
    </formulas>
    <formulas>
        <description>Get the 3rd business day from today</description>
        <name>ThirdBusinessDay</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD(TODAY() - DATE(1900,1,7), 7),
0, TODAY()+3, /*Sun*/
3, TODAY() + 2 + 3, /* Wed */
4, TODAY() + 2 + 3, /* Thurs */
5, TODAY() + 2 + 3, /*Fri*/
6, TODAY() + 1 + 3, /*Sat */
TODAY() + 3)</expression>
    </formulas>
    <interviewLabel>ESR Flows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case ESR Flows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Parent_Parent_Case</name>
        <label>Create a Parent Parent Case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Parent.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE2a</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Audit Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue> Audit Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Parent.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ESR_EventRecord</name>
        <label>Create ESR Event</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDateTime</field>
            <value>
                <elementReference>$Record.Parent.Client_Assigned_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005700000051rZz</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0z</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Record.Parent.Client_Assigned_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ESR_Task</name>
        <label>Create ESR Task</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>See_if_Create_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE2a</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Action__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Audit Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Audit Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Audit_Case</name>
        <label>Create Related Audit Case</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Audit &amp; Reconciliation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G70000002Lgqi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Conversion_Case</name>
        <label>Create Related Conversion Case</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Conversion Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G70000002Lgqs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Dedicated_Service_Case</name>
        <label>Create Related Dedicated Service Case</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BeneTrac_ESR__c</field>
            <value>
                <elementReference>$Record.BeneTrac_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Amendment_Type__c</field>
            <value>
                <elementReference>$Record.ESR_Amendment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Assessment_Category__c</field>
            <value>
                <elementReference>$Record.ESR_Assessment_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_ESRP_Amount__c</field>
            <value>
                <elementReference>$Record.ESR_ESRP_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Due_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Type__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Other_Details__c</field>
            <value>
                <elementReference>$Record.ESR_Other_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Request_Received_Date__c</field>
            <value>
                <elementReference>$Record.ESR_Request_Received_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Dedicated Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>H_B_ESR__c</field>
            <value>
                <elementReference>$Record.H_B_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G70000002Lgqx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_A_Assessment_Previously_Logged__c</field>
            <value>
                <elementReference>$Record.Type_A_Assessment_Previously_Logged__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Implementation_Case</name>
        <label>Create Related Implementation Case</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Case Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.Disposition_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <stringValue> New Client Implementation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> New Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G700000044RV1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Inbound_Case</name>
        <label>Create Related Inbound Case</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Inbound Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G70000002Lgr2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_New_Case</name>
        <label>Create Related New Case</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> New Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G70000002Lgr7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000UOx1AAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Outbound_Case</name>
        <label>Create Related Outbound Case</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>ChecktransferStatusforAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Assigned_Date__c</field>
            <value>
                <elementReference>$Record.Client_Assigned_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Outbound Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G70000002LgrC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_A_Assessment_Previously_Logged__c</field>
            <value>
                <elementReference>$Record.Type_A_Assessment_Previously_Logged__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Processing_Case</name>
        <label>Create Related Processing Case</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue> Client Updates In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.Disposition_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G700000044SPL </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_PYF_Case</name>
        <label>Create Related PYF Case</label>
        <locationX>5066</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue> Client Updates In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.Disposition_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4u000005LH7j</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_QC_Case</name>
        <label>Create Related QC Case</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue> Pending QC Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <stringValue> Processing Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <stringValue> Audit Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue>QC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G700000044SPQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0yAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Research_Case</name>
        <label>Create Related Research Case</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue> Pending Research</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BeneTrac_ESR__c</field>
            <value>
                <elementReference>$Record.BeneTrac_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Amendment_Type__c</field>
            <value>
                <elementReference>$Record.ESR_Amendment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Assessment_Category__c</field>
            <value>
                <elementReference>$Record.ESR_Assessment_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_ESRP_Amount__c</field>
            <value>
                <elementReference>$Record.ESR_ESRP_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Due_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Type__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Other_Details__c</field>
            <value>
                <elementReference>$Record.ESR_Other_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Request_Received_Date__c</field>
            <value>
                <elementReference>$Record.ESR_Request_Received_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Research</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>H_B_ESR__c</field>
            <value>
                <elementReference>$Record.H_B_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000004OQQX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_A_Assessment_Previously_Logged__c</field>
            <value>
                <elementReference>$Record.Type_A_Assessment_Previously_Logged__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Related_Research_Case_0</name>
        <label>Create Related Dedicated Service Case</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BeneTrac_ESR__c</field>
            <value>
                <elementReference>$Record.BeneTrac_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Amendment_Type__c</field>
            <value>
                <elementReference>$Record.ESR_Amendment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Assessment_Category__c</field>
            <value>
                <elementReference>$Record.ESR_Assessment_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_ESRP_Amount__c</field>
            <value>
                <elementReference>$Record.ESR_ESRP_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Due_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Type__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Other_Details__c</field>
            <value>
                <elementReference>$Record.ESR_Other_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Request_Received_Date__c</field>
            <value>
                <elementReference>$Record.ESR_Request_Received_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue>  Dedicated Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>H_B_ESR__c</field>
            <value>
                <elementReference>$Record.H_B_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g0000048oVP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_A_Assessment_Previously_Logged__c</field>
            <value>
                <elementReference>$Record.Type_A_Assessment_Previously_Logged__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_Related_Amendments_Case</name>
        <label>Created Related Amendments Case</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue> Pending Amendment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BeneTrac_ESR__c</field>
            <value>
                <elementReference>$Record.BeneTrac_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disposition_1__c</field>
            <value>
                <elementReference>$Record.ESR_Team__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESRService__c</field>
            <value>
                <elementReference>$Record.ESRService__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Amendment_Type__c</field>
            <value>
                <elementReference>$Record.ESR_Amendment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Assessment_Category__c</field>
            <value>
                <elementReference>$Record.ESR_Assessment_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_ESRP_Amount__c</field>
            <value>
                <elementReference>$Record.ESR_ESRP_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Due_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Due_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Date__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_IRS_Notice_Type__c</field>
            <value>
                <elementReference>$Record.ESR_IRS_Notice_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Other_Details__c</field>
            <value>
                <elementReference>$Record.ESR_Other_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Request_Received_Date__c</field>
            <value>
                <elementReference>$Record.ESR_Request_Received_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ESR_Team__c</field>
            <value>
                <stringValue> Amendments</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filing_Year__c</field>
            <value>
                <elementReference>$Record.Filing_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>H_B_ESR__c</field>
            <value>
                <elementReference>$Record.H_B_ESR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Late_Filing_Amendment__c</field>
            <value>
                <elementReference>$Record.Late_Filing_Amendment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>$Record.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G0g000004OQQS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processing_Type__c</field>
            <value>
                <elementReference>$Record.Processing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <stringValue>ESR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>$Record.Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01270000000QE0y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_A_Assessment_Previously_Logged__c</field>
            <value>
                <elementReference>$Record.Type_A_Assessment_Previously_Logged__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Close_The_Case</name>
        <label>Close The Case</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Follow_Up_Date_to_Next_Bus_Day</name>
        <label>Update Follow Up Date to Next Bus Day</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>NextBusinessDay</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Follow_Up_to_3rd_Business_Day</name>
        <label>Update Follow Up to 3rd Business Day</label>
        <locationX>4538</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>ThirdBusinessDay</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2630</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_on_the_path</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000QE0yAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000UOx1AAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012700000001jewAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012700000001jnjAAA</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseEscalationChatterMsg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!$Record.User_Level_1_Supervisor__c}] This case has been escalated.  Please take a moment to review the case details.</text>
    </textTemplates>
</Flow>
