force-app/main/default/flows/HR_Solutions_Account_Health_to_stable_for_NEW_Prospect_Clients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>check for the Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>When the TYPE field updates to an HR Solutions or PEO type for the first time from different values update the HR solutions account health to stable</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((NOT(CONTAINS(PRIORVALUE([Account].Type),&apos;HR Solutions&apos;)) || 
NOT(PRIORVALUE([Account].Type)= &apos;PEO Client&apos;))
&amp;&amp;
((ISPICKVAL([Account].Type, &apos;HR Solutions FLEX Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;HR Solutions Preview Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;HR Solutions Advantage Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;HR Solutions NPR Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;PEO Client&apos;) )
))
||
(IsNEW()&amp;&amp;((ISPICKVAL([Account].Type, &apos;HR Solutions FLEX Client&apos;))||(ISPICKVAL([Account].Type, &apos;HR Solutions Preview Client&apos;) ) ||(ISPICKVAL([Account].Type, &apos;HR Solutions Advantage Client&apos;)) ||(ISPICKVAL([Account].Type, &apos;HR Solutions NPR Client&apos;) ) ||(ISPICKVAL([Account].Type, &apos;PEO Client&apos;)   ) ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>((NOT(CONTAINS(PRIORVALUE({!myVariable_current.Type}),&apos;HR Solutions&apos;)) || 
NOT(PRIORVALUE({!myVariable_current.Type})= &apos;PEO Client&apos;))
&amp;&amp;
((ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions FLEX Client&apos;) )||
(ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions Preview Client&apos;) )||
(ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions Advantage Client&apos;) )||
(ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions NPR Client&apos;) )||
(ISPICKVAL({!myVariable_current.Type}, &apos;PEO Client&apos;) )
))
||
(IsNEW()&amp;&amp;((ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions FLEX Client&apos;))||(ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions Preview Client&apos;) ) ||(ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions Advantage Client&apos;)) ||(ISPICKVAL({!myVariable_current.Type}, &apos;HR Solutions NPR Client&apos;) ) ||(ISPICKVAL({!myVariable_current.Type}, &apos;PEO Client&apos;)   ) ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>((NOT(CONTAINS(PRIORVALUE([Account].Type),&apos;HR Solutions&apos;)) || 
NOT(PRIORVALUE([Account].Type)= &apos;PEO Client&apos;))
&amp;&amp;
((ISPICKVAL([Account].Type, &apos;HR Solutions FLEX Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;HR Solutions Preview Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;HR Solutions Advantage Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;HR Solutions NPR Client&apos;) )||
(ISPICKVAL([Account].Type, &apos;PEO Client&apos;) )
))
||
(IsNEW()&amp;&amp;((ISPICKVAL([Account].Type, &apos;HR Solutions FLEX Client&apos;))||(ISPICKVAL([Account].Type, &apos;HR Solutions Preview Client&apos;) ) ||(ISPICKVAL([Account].Type, &apos;HR Solutions Advantage Client&apos;)) ||(ISPICKVAL([Account].Type, &apos;HR Solutions NPR Client&apos;) ) ||(ISPICKVAL([Account].Type, &apos;PEO Client&apos;)   ) ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>((NOT(CONTAINS(PRIORVALUE({!myVariable_old.Type}),&apos;HR Solutions&apos;)) || 
NOT(PRIORVALUE({!myVariable_old.Type})= &apos;PEO Client&apos;))
&amp;&amp;
((ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions FLEX Client&apos;) )||
(ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions Preview Client&apos;) )||
(ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions Advantage Client&apos;) )||
(ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions NPR Client&apos;) )||
(ISPICKVAL({!myVariable_old.Type}, &apos;PEO Client&apos;) )
))
||
(IsNEW()&amp;&amp;((ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions FLEX Client&apos;))||(ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions Preview Client&apos;) ) ||(ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions Advantage Client&apos;)) ||(ISPICKVAL({!myVariable_old.Type}, &apos;HR Solutions NPR Client&apos;) ) ||(ISPICKVAL({!myVariable_old.Type}, &apos;PEO Client&apos;)   ) ))</expression>
    </formulas>
    <interviewLabel>HR_Solutions_Account_Health_to_stable_for_NEW_Prospect_Clients-1_InterviewLabel</interviewLabel>
    <label>HR Solutions Account Health to stable for NEW Prospect Clients</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Account]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update HR Solutions Account Health</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>HR Solutions Account Health</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Premier_Account_Health__c</field>
            <value>
                <stringValue>Stable</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
