force-app/main/default/flows/Opportunity_Doc_Desk_Automation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Oppty_chatter_feed</name>
        <label>Post to Oppty chatter feed</label>
        <locationX>935</locationX>
        <locationY>931</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!UserChatterID}] You have been assigned to a new opportunity. Please see the Opportunity for full details.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign to 0F90g000000Levh</description>
        <name>Doc_Desk_User_ID</name>
        <label>Doc Desk User ID</label>
        <locationX>549</locationX>
        <locationY>608</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Levh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to Virtual 1 Chatter ID</description>
        <name>Virtual_1_Chatter_ID</name>
        <label>Virtual 1 Chatter ID</label>
        <locationX>852</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000kEOy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to virtual 2 Chatter ID</description>
        <name>Virtual_2_Chatter_ID</name>
        <label>Virtual 2 Chatter ID</label>
        <locationX>926</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000kEP3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to Virtual 3 Chatter ID</description>
        <name>Virtual_3_Chatter_ID</name>
        <label>Virtual 3 Chatter ID</label>
        <locationX>985</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000kEP8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Chatter ID to Virtual 4</description>
        <name>Virtual_4_Chatter_ID</name>
        <label>Virtual 4 Chatter ID</label>
        <locationX>1050</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000kEPI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Chatter ID to Virtual 5</description>
        <name>Virtual_5_Chatter_ID</name>
        <label>Virtual 5 Chatter ID</label>
        <locationX>1124</locationX>
        <locationY>620</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000kEPD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to Virtual Katina ID</description>
        <name>Virtual_Katina_ID</name>
        <label>Virtual Katina ID</label>
        <locationX>623</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000fzRv</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Chatter ID to Virtual Mary</description>
        <name>Virtual_Mary_Chatter_ID</name>
        <label>Virtual Mary Chatter ID</label>
        <locationX>778</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000fzS0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to Virtual Waqar Chatter ID</description>
        <name>Virtual_Waqar_Chatter_ID</name>
        <label>Virtual Waqar Chatter ID</label>
        <locationX>702</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000fzS0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChattterID to zone 14 MJ</description>
        <name>Zone_14_MJ_ChatterID</name>
        <label>Zone 14 MJ ChatterID</label>
        <locationX>1651</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf5w</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChattedID to zone 14 ML</description>
        <name>Zone_14_MR_ChatterID</name>
        <label>Zone 14 MR ChatterID</label>
        <locationX>1563</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf5r</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChatterID to zone 14 RS</description>
        <name>Zone_14_RS_ChatterID</name>
        <label>Zone 14 RS ChatterID</label>
        <locationX>1734</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf61</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ASsign ChatterID to zone 14 vf</description>
        <name>Zone_14_VF_ChatterID</name>
        <label>Zone 14 VF ChatterID</label>
        <locationX>1819</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000fzM7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChatterID to zone 15 HP</description>
        <name>Zone_15_HP_ChatterID</name>
        <label>Zone 15 HP ChatterID</label>
        <locationX>1958</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf6B</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChatterID to zone 15 SH</description>
        <name>Zone_15_SH_ChatterID</name>
        <label>Zone 15 SH ChatterID</label>
        <locationX>1886</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf66</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChatterID to Zone 6 CM</description>
        <name>Zone_6_CM_Chatter_ID</name>
        <label>Zone 6 CM Chatter ID</label>
        <locationX>1266</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf5X</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChatterID to zone 6 KL</description>
        <name>Zone_6_KL_chatter_id</name>
        <label>Zone 6 KL chatter id</label>
        <locationX>1202</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf5S</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChatterID to zone 7</description>
        <name>Zone_7_Chatter_ID</name>
        <label>Zone 7 Chatter ID</label>
        <locationX>1338</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf5c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ChatterID to zone 8 CK</description>
        <name>Zone_8_CK_ChatterID</name>
        <label>Zone 8 CK ChatterID</label>
        <locationX>1404</locationX>
        <locationY>616</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf5h</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ASsign chatterID to zone 8 KL</description>
        <name>Zone_8_KL_ChatterID</name>
        <label>Zone 8 KL ChatterID</label>
        <locationX>1487</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0F90g000000Lf5m</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Oppty_chatter_feed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Select chatter id from the user</description>
        <name>Team_Assignment</name>
        <label>Team Assignment</label>
        <locationX>167</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Doc_Desk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Doc_Desk_User_ID</targetReference>
            </connector>
            <label>Doc Desk</label>
        </rules>
        <rules>
            <name>Virtual_Katina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Katina</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_Katina_ID</targetReference>
            </connector>
            <label>Virtual Katina</label>
        </rules>
        <rules>
            <name>Virtual_Waqar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Waqar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_Waqar_Chatter_ID</targetReference>
            </connector>
            <label>Virtual Waqar</label>
        </rules>
        <rules>
            <name>Virtual_Mary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Mary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_Mary_Chatter_ID</targetReference>
            </connector>
            <label>Virtual Mary</label>
        </rules>
        <rules>
            <name>Virtual_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Virtual 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_1_Chatter_ID</targetReference>
            </connector>
            <label>Virtual 1</label>
        </rules>
        <rules>
            <name>Virtual_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Virtual 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_2_Chatter_ID</targetReference>
            </connector>
            <label>Virtual 2</label>
        </rules>
        <rules>
            <name>Virtual_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Virtual 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_3_Chatter_ID</targetReference>
            </connector>
            <label>Virtual 3</label>
        </rules>
        <rules>
            <name>Virtual_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Virtual 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_4_Chatter_ID</targetReference>
            </connector>
            <label>Virtual 4</label>
        </rules>
        <rules>
            <name>Virtual_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Virtual 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Virtual_5_Chatter_ID</targetReference>
            </connector>
            <label>Virtual 5</label>
        </rules>
        <rules>
            <name>Zone_6_KL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 6 (KL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_6_KL_chatter_id</targetReference>
            </connector>
            <label>Zone 6 KL</label>
        </rules>
        <rules>
            <name>Doc_Desk_Zone_6_CM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 6 (CM)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_6_CM_Chatter_ID</targetReference>
            </connector>
            <label>Doc Desk Zone 6 CM</label>
        </rules>
        <rules>
            <name>Zone_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_7_Chatter_ID</targetReference>
            </connector>
            <label>Zone 7</label>
        </rules>
        <rules>
            <name>Zone_8_CK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 8 (CK)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_8_CK_ChatterID</targetReference>
            </connector>
            <label>Zone 8 (CK)</label>
        </rules>
        <rules>
            <name>Zone_8_KL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 8 (KL)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_8_KL_ChatterID</targetReference>
            </connector>
            <label>Zone 8 (KL)</label>
        </rules>
        <rules>
            <name>Zone_14_MR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 14 (MR)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_14_MR_ChatterID</targetReference>
            </connector>
            <label>Zone 14 (MR)</label>
        </rules>
        <rules>
            <name>Zone_14_MJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 14 (MJ)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_14_MJ_ChatterID</targetReference>
            </connector>
            <label>Zone 14 (MJ)</label>
        </rules>
        <rules>
            <name>Zone_14_RS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 14 (RS)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_14_RS_ChatterID</targetReference>
            </connector>
            <label>Zone 14 (RS)</label>
        </rules>
        <rules>
            <name>Zone_14_VF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 14 (VF)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_14_VF_ChatterID</targetReference>
            </connector>
            <label>Zone 14 (VF)</label>
        </rules>
        <rules>
            <name>Zone_15_SH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 15 (SH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_15_SH_ChatterID</targetReference>
            </connector>
            <label>Zone 15 (SH)</label>
        </rules>
        <rules>
            <name>Zone_15_HP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.User_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doc Desk - Zone 15 (HP)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zone_15_HP_ChatterID</targetReference>
            </connector>
            <label>Zone 15 (HP)</label>
        </rules>
    </decisions>
    <description>Post to the chatter feed of oppty</description>
    <interviewLabel>Opportunity Doc Desk Automation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Doc Desk Automation Chatter Post Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>Team_Assignment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0120g000000EAaCAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold - Submitted to CTT</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sold - Submitted to FSS</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Global chatter ID VAR for assignment</description>
        <name>UserChatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
