force-app/main/default/flows/Opportunity_Broker_Commission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Get_Number_of_Records</name>
        <label>Get Number of Records</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NbrBrokerCommissions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CheckExistingRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Broker_Record</name>
        <label>Check Broker Record</label>
        <locationX>908</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_We_Create_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckExistingRecord</targetReference>
            </connector>
            <label>Do We Create Broker?</label>
        </rules>
        <rules>
            <name>Is_Opp_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_to_Terminated</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Opp Lost?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Count</name>
        <label>Check Count</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrBrokerCommissions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral-PEO Trusted Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Broker_Commission_Record</targetReference>
            </connector>
            <label>No Records Found</label>
        </rules>
        <rules>
            <name>Has_records_Trusted_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrBrokerCommissions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referral-PEO Trusted Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral-PEO Trusted Advisor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Broker_Commission_Fields</targetReference>
            </connector>
            <label>Has records - Trusted Advisor</label>
        </rules>
        <rules>
            <name>Has_Records_Not_Trusted_Advisor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbrBrokerCommissions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Referral-PEO Trusted Advisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_to_Terminated</targetReference>
            </connector>
            <label>Has Records - Not Trusted Advisor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Referral Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Broker Commission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Broker_Commission_Record</name>
        <label>Create Broker Commission Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Broker_Partner_Program_ID__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Broker_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Method__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Commission_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Email_Address__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Communication_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dollar_Amount__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Bank_Referral_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flat_Dollar_Amount_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Flat_Dollar_Amount_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oasis_Vendor_Code__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.PartnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pct_Admin_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Pct_Admin_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pct_Payroll_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Pct_Payroll_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pct_Profit_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Pct_Profit_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_Head_Amount_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Per_Head_Amount_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Bank_Revenue_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prospect_Client__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Account_Name__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Account__c</field>
            <value>
                <elementReference>$Record.Referral_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Referral_Payment_Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_End__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.ReferralPaymentEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_Partner_Status__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Referral_Payment_Partner_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_Start__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.ReferralPaymentStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source_Business_Type__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Referral_Source_Business_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Broker_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CheckExistingRecord</name>
        <label>CheckExistingRecord</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Number_of_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Prospect_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Broker_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Set_to_Terminated</name>
        <label>Copy 1 of Set to Terminated</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Prospect_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <object>Broker_Commission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Terminated</name>
        <label>Set to Terminated</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Prospect_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <object>Broker_Commission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Broker_Commission_Fields</name>
        <label>Update Broker Commission Fields</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prospect_Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Broker_Partner_Program_ID__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Broker_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Method__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Commission_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Email_Address__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Communication_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dollar_Amount__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Bank_Referral_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flat_Dollar_Amount_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Flat_Dollar_Amount_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oasis_Vendor_Code__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.PartnerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pct_Admin_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Pct_Admin_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pct_Payroll_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Pct_Payroll_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pct_Profit_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Pct_Profit_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Per_Head_Amount_Value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Per_Head_Amount_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Percentage_value__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Bank_Revenue_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__r.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Account__c</field>
            <value>
                <elementReference>$Record.Referral_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Contact__c</field>
            <value>
                <elementReference>$Record.Referral_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_Agreement_Type__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Referral_Payment_Agreement_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_End__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.ReferralPaymentEnd__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_Partner_Status__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Referral_Payment_Partner_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Payment_Start__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.ReferralPaymentStart__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Source_Business_Type__c</field>
            <value>
                <elementReference>$Record.Referral_Account__r.Referral_Source_Business_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Broker_Commission__c</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Broker_Record</targetReference>
        </connector>
        <filterFormula>AND(OR(ISPICKVAL({!$Record.LeadSource},&quot;Referral-PEO Trusted Advisor&quot;) , Contains(TEXT({!$Record.LeadSource}),&quot;Referral-Internal&quot;)
     ,ISPICKVAL({!$Record__Prior.LeadSource},&quot;Referral-PEO Trusted Advisor&quot;)), INCLUDES({!$Record.Referral_Account__r.Referral_Payment_Program_Name__c},&quot;Broker_Channel_Partner _Program&quot;), ISPICKVAL({!$Record.Referral_Account__r.Referral_Payment_Partner_Status__c}, &quot;Active&quot;)
,OR( ISCHANGED({!$Record.StageName}),  ISCHANGED({!$Record.LeadSource}))
, ISPICKVAL({!$Record.OpportunityType__c},&quot;PEO&quot;))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>20</triggerOrder>
    <variables>
        <name>NbrBrokerCommissions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
