force-app/main/default/flows/Oppy_notify_SE_upon_going_to_a_stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>POST_mESSAGE_ON_THE_FLOW_0_0_0</name>
        <label>POST mESSAGE ON THE FLOW</label>
        <locationX>1393</locationX>
        <locationY>177</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!MessagetoDisplayOnChatter} , {!$Record.Name} has been updated to a status of {!$Record.StageName}. Please Review</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>PrepareUserIdsListToDisplayOnChatter_0</name>
        <label>PrepareUserIdsListToDisplayOnChatter</label>
        <locationX>1108</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>MessagetoDisplayOnChatter</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!MessagetoDisplayOnChatter} @[{!ChatterMessageLoop.UserId}]</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChatterMessageLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckForMMSOpportunityRecords</name>
        <label>CheckForMMSOpportunityRecords</label>
        <locationX>189</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckForMMSOpportunityRecordsOutcomeYES</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Probability</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Probability</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_user_from_Opportunity_Team_0_0</targetReference>
            </connector>
            <label>CheckForMMSOpportunityRecordsOutcomeYES</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfSEExistorNot</name>
        <label>CheckIfSEExistorNot</label>
        <locationX>722</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckIfSEExistorNotYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppTeamMembersList</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ChatterMessageLoop</targetReference>
            </connector>
            <label>CheckIfSEExistorNotYES</label>
        </rules>
    </decisions>
    <description>removed outcome checking for recordtype per inc2967818, the outcome did not result in an action.,</description>
    <interviewLabel>Post chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppy-notify SE upon going to a stage</label>
    <loops>
        <name>ChatterMessageLoop</name>
        <label>ChatterMessageLoop</label>
        <locationX>896</locationX>
        <locationY>105</locationY>
        <collectionReference>OppTeamMembersList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PrepareUserIdsListToDisplayOnChatter_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>POST_mESSAGE_ON_THE_FLOW_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user_from_Opportunity_Team_0_0</name>
        <label>Get user from Opportunity Team</label>
        <locationX>480</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfSEExistorNot</targetReference>
        </connector>
        <filterLogic>1 AND (2 or 3)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Sales Consultant</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Engineer</stringValue>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>OppTeamMembersList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <start>
        <locationX>64</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckForMMSOpportunityRecords</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 or 4)  AND (2 or 3)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012300000000hQQAAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Probability</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012300000000hQfAAI</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessagetoDisplayOnChatter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppTeamMembersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>RecordtypeidDNU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
