force-app/main/default/flows/PEO_Current_Step_Web_Based_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(1 OR 3 OR 4) AND 2</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEO Web Based Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.No_Start_Client__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEO New Client Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEO Hybrid Based Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>If No Start Client</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Criteria for step 3</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Criteria for step 2</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Criteria for step 1</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Criteria for Waiting for Initial Paperwork</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Criteria for step 7</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Criteria for step 6</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Criteria for step 5</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Criteria for step 4</label>
        </rules>
    </decisions>
    <description>LM - current step for PEO Web Based Onboarding</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND([Reference_PEO__c].RecordType.Name = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL([Reference_PEO__c].Data_Collection_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Initial_EE_Data_File_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO New Client Onboarding&quot;,
NOT(ISNULL([Reference_PEO__c].Employee_Load_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO Hybrid Based Onboarding&quot;,
NOT(ISNULL([Reference_PEO__c].Onboarding_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND({!myVariable_current.RecordType.Name} = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL({!myVariable_current.Data_Collection_Complete__c})),
NOT(ISNULL({!myVariable_current.Initial_EE_Data_File_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO New Client Onboarding&quot;,
NOT(ISNULL({!myVariable_current.Employee_Load_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO Hybrid Based Onboarding&quot;,
NOT(ISNULL({!myVariable_current.Onboarding_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
OR(
[Reference_PEO__c].RecordType.Name = &quot;PEO New Client Onboarding&quot;,
[Reference_PEO__c].RecordType.Name = &quot;PEO Hybrid Based Onboarding&quot;),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c )),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c ))),

AND(
[Reference_PEO__c].RecordType.Name = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL([Reference_PEO__c].Initial_EE_Data_File_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c ))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
OR(
{!myVariable_current.RecordType.Name} = &quot;PEO New Client Onboarding&quot;,
{!myVariable_current.RecordType.Name} = &quot;PEO Hybrid Based Onboarding&quot;),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c} )),
NOT(ISNULL({!myVariable_current.Contract_Received__c} ))),

AND(
{!myVariable_current.RecordType.Name} = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL({!myVariable_current.Initial_EE_Data_File_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c} ))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Reference_PEO__c].RecordType.Name = &apos;PEO Web Based Onboarding&apos; ||

[Reference_PEO__c].RecordType.Name = &apos;PEO New Client Onboarding&apos; ||

[Reference_PEO__c].RecordType.Name = &apos;PEO Hybrid Based Onboarding&apos;)


&amp;&amp;

NOT(ISNULL([Reference_PEO__c].Contract_Received__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &apos;PEO Web Based Onboarding&apos; ||

{!myVariable_current.RecordType.Name} = &apos;PEO New Client Onboarding&apos; ||

{!myVariable_current.RecordType.Name} = &apos;PEO Hybrid Based Onboarding&apos;)


&amp;&amp;

NOT(ISNULL({!myVariable_current.Contract_Received__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Reference_PEO__c].RecordType.Name = &apos;PEO Web Based Onboarding&apos; || 

[Reference_PEO__c].RecordType.Name = &apos;PEO New Client Onboarding&apos; ||

[Reference_PEO__c].RecordType.Name = &apos;PEO Hybrid Based Onboarding&apos;)


&amp;&amp;

ISNULL([Reference_PEO__c].Contract_Received__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &apos;PEO Web Based Onboarding&apos; || 

{!myVariable_current.RecordType.Name} = &apos;PEO New Client Onboarding&apos; ||

{!myVariable_current.RecordType.Name} = &apos;PEO Hybrid Based Onboarding&apos;)


&amp;&amp;

ISNULL({!myVariable_current.Contract_Received__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND([Reference_PEO__c].RecordType.Name = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL( [Reference_PEO__c].Turned_Over_to_Payroll__c )),
NOT(ISNULL([Reference_PEO__c].Client_Processed__c)),
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Data_Collection_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Initial_EE_Data_File_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO New Client Onboarding&quot;,
NOT(ISNULL( [Reference_PEO__c].Turned_Over_to_Payroll__c )),
NOT(ISNULL([Reference_PEO__c].Client_Processed__c)),
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Employee_Load_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO Hybrid Based Onboarding&quot;,
NOT(ISNULL( [Reference_PEO__c].Turned_Over_to_Payroll__c )),
NOT(ISNULL([Reference_PEO__c].Client_Processed__c)),
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Onboarding_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND({!myVariable_current.RecordType.Name} = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL( {!myVariable_current.Turned_Over_to_Payroll__c} )),
NOT(ISNULL({!myVariable_current.Client_Processed__c})),
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Data_Collection_Complete__c})),
NOT(ISNULL({!myVariable_current.Initial_EE_Data_File_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO New Client Onboarding&quot;,
NOT(ISNULL( {!myVariable_current.Turned_Over_to_Payroll__c} )),
NOT(ISNULL({!myVariable_current.Client_Processed__c})),
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Employee_Load_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO Hybrid Based Onboarding&quot;,
NOT(ISNULL( {!myVariable_current.Turned_Over_to_Payroll__c} )),
NOT(ISNULL({!myVariable_current.Client_Processed__c})),
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Onboarding_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND([Reference_PEO__c].RecordType.Name = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL([Reference_PEO__c].Client_Processed__c)),
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Data_Collection_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Initial_EE_Data_File_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO New Client Onboarding&quot;,
NOT(ISNULL([Reference_PEO__c].Client_Processed__c)),
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Employee_Load_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO Hybrid Based Onboarding&quot;,
NOT(ISNULL([Reference_PEO__c].Client_Processed__c)),
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Onboarding_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND({!myVariable_current.RecordType.Name} = &quot;PEO Web Based Onboarding&quot;,
NOT(ISNULL({!myVariable_current.Client_Processed__c})),
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Data_Collection_Complete__c})),
NOT(ISNULL({!myVariable_current.Initial_EE_Data_File_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO New Client Onboarding&quot;,
NOT(ISNULL({!myVariable_current.Client_Processed__c})),
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Employee_Load_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO Hybrid Based Onboarding&quot;,
NOT(ISNULL({!myVariable_current.Client_Processed__c})),
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Onboarding_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND([Reference_PEO__c].RecordType.Name = &quot;PEO Web Based Onboarding&quot;,
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Data_Collection_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Initial_EE_Data_File_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO New Client Onboarding&quot;,
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Employee_Load_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO Hybrid Based Onboarding&quot;,
[Reference_PEO__c].Pass_to_New_Loads__c = True,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Onboarding_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND({!myVariable_current.RecordType.Name} = &quot;PEO Web Based Onboarding&quot;,
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Data_Collection_Complete__c})),
NOT(ISNULL({!myVariable_current.Initial_EE_Data_File_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO New Client Onboarding&quot;,
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Employee_Load_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO Hybrid Based Onboarding&quot;,
{!myVariable_current.Pass_to_New_Loads__c} = True,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Onboarding_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(AND([Reference_PEO__c].RecordType.Name = &quot;PEO Web Based Onboarding&quot;,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Data_Collection_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Initial_EE_Data_File_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO New Client Onboarding&quot;,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Employee_Load_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))),


AND([Reference_PEO__c].RecordType.Name = &quot;PEO Hybrid Based Onboarding&quot;,
ISPICKVAL([Reference_PEO__c].Final_Medical_Approval_2__c, &quot;Approved&quot;),
NOT(ISNULL([Reference_PEO__c].Onboarding_Complete__c)),
NOT(ISNULL([Reference_PEO__c].Onboarding_Spreadsheet_Received__c)),
NOT(ISNULL([Reference_PEO__c].Contract_Received__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>OR(AND({!myVariable_current.RecordType.Name} = &quot;PEO Web Based Onboarding&quot;,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Data_Collection_Complete__c})),
NOT(ISNULL({!myVariable_current.Initial_EE_Data_File_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO New Client Onboarding&quot;,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Employee_Load_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))),


AND({!myVariable_current.RecordType.Name} = &quot;PEO Hybrid Based Onboarding&quot;,
ISPICKVAL({!myVariable_current.Final_Medical_Approval_2__c}, &quot;Approved&quot;),
NOT(ISNULL({!myVariable_current.Onboarding_Complete__c})),
NOT(ISNULL({!myVariable_current.Onboarding_Spreadsheet_Received__c})),
NOT(ISNULL({!myVariable_current.Contract_Received__c}))))</expression>
    </formulas>
    <interviewLabel>PEO_Current_Step_Web_Based_Onboarding-5_InterviewLabel</interviewLabel>
    <label>PEO Current Step Web Based Onboarding</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Reference_PEO__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>change to step 3</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(3 of 7) Complete NEP Submission</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(3 of 7) Complete NEP Submission</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Change to step 2</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(2 of 7) PEO111 Received</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(2 of 7) PEO111 Received</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Change to step 1</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(1 of 7) Contracts Received</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(1 of 7) Contracts Received</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Change to Waiting for Initial Paperwork</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waiting for Initial Paperwork</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Waiting for Initial Paperwork</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Change to Cancelled</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>change to step 7</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(7 of 7) Turned Over to Payroll</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(7 of 7) Turned Over to Payroll</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>change to step 6</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(6 of 7) Client Processed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(6 of 7) Client Processed</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>change to step 5</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(5 of 7) Passed to NB</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(5 of 7) Passed to NB</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Change to step 4</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(4 of 7) Medical Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Current Step</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(4 of 7) Medical Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Reference_PEO__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Reference_PEO__c</objectType>
    </variables>
</Flow>
