force-app/main/default/flows/PEO_UW_Discrepancy_Comment_Chatter_Post_Autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Owners_feed_0</name>
        <label>Post to Owners feed</label>
        <locationX>173</locationX>
        <locationY>652</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!UserChatterID}]  A comment has been added on discrepancy </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>DiscRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ProspectNotesAlert</name>
        <label>ProspectNotesAlert</label>
        <locationX>489</locationX>
        <locationY>415</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>IsRichTextChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>messageContentForNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>DiscRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <outputParameters>
            <assignToReference>chatterId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_chatter_ID</name>
        <label>Assign chatter ID</label>
        <locationX>280</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>UserChatterID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscRecord.OwnerId__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Owners_feed_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Chatter_Decision</name>
        <label>Chatter Decision</label>
        <locationX>513</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Assign_chatter_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfProspectUpdatedNotes</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>DiscRecord.Prospect_Comments__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProspectNotesAlert</targetReference>
            </connector>
            <label>IfProspectUpdatedNotes</label>
        </rules>
    </decisions>
    <interviewLabel>PEO UW Discrepancy Comment Chatter Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PEO UW Discrepancy Comment Chatter Post Autolaunch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>IsRichTextChatter</name>
        <label>IsRichTextChatter</label>
        <locationX>481</locationX>
        <locationY>554</locationY>
        <connector>
            <targetReference>Assign_chatter_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DiscRecord.OwnerId__NotFound</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>69</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Chatter_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>chattermsg</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;@[&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!DiscRecord.OwnerId__NotFound}&lt;/span&gt;] A new comment has been added the discrepancy&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>messageContentForNotes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;,{!DiscRecord.Prospect_Client_Name__c} has responded to {!DiscRecord.Discrepancy_Type__c}/{!DiscRecord.Discrepancy_Sub_Type__c}. Please review the response and mark the discrepancy as resolved at your earliest convenience {{!DiscRecord.PEO_Underwriting_Checklist__c}}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>chatterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>discId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DiscRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PEO_Onboarding_Document_Discrepency__c</objectType>
    </variables>
    <variables>
        <name>previousComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserChatterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
