force-app/main/default/flows/PEO_Getting_Started_Case_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_finding_other_info_issue</name>
        <label>Assign finding other info issue</label>
        <locationX>855</locationX>
        <locationY>642</locationY>
        <assignmentItems>
            <assignToReference>selected_issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finding other info</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_global_selection_other</name>
        <label>Assign global selection other</label>
        <locationX>848</locationX>
        <locationY>303</locationY>
        <assignmentItems>
            <assignToReference>selected_issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_file_issue</name>
        <label>Assign selected file issue</label>
        <locationX>852</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>selected_issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>File Upload</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_provider_doc_issue</name>
        <label>Assign selected provider doc issue</label>
        <locationX>856</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>selected_issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finding Provider Docs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_system_issue</name>
        <label>Assign system issue</label>
        <locationX>856</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>selected_issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>System Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Admin_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>problem_selection_fileUpload</name>
        <choiceText>My file won&apos;t upload</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>problem_selection_findindInfo</name>
        <choiceText>Finding other information</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>problem_selection_other</name>
        <choiceText>Other (Describe below)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>problem_selection_providerDocs</name>
        <choiceText>Finding Provider Docs (Medical, Workers Comp, Finance)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>problem_selection_system_issue</name>
        <choiceText>System Issue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>System Issue</stringValue>
        </value>
    </choices>
    <constants>
        <name>case_origin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Community Case</stringValue>
        </value>
    </constants>
    <constants>
        <name>default_status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </constants>
    <decisions>
        <name>assign_selection</name>
        <label>assign selection</label>
        <locationX>475</locationX>
        <locationY>514</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>problem_selection_other</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_global_selection_other</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>Selected_file_upload_issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>problem_selection_fileUpload</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_selected_file_issue</targetReference>
            </connector>
            <label>file upload issue</label>
        </rules>
        <rules>
            <name>Selected_finding_info_issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>problem_selection_findindInfo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_finding_other_info_issue</targetReference>
            </connector>
            <label>finding info issue</label>
        </rules>
        <rules>
            <name>Selected_provider_doc_issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>problem_selection_providerDocs</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_selected_provider_doc_issue</targetReference>
            </connector>
            <label>provider doc issue</label>
        </rules>
        <rules>
            <name>Selected_System_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>problem_selection_system_issue</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_system_issue</targetReference>
            </connector>
            <label>System Issue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>check_desc</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!problem_description}), True, false)</expression>
    </formulas>
    <interviewLabel>PEO Getting Started Case Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PEO Getting Started Case Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Admin Cases go to snow directly</description>
        <name>New_Admin_Case</name>
        <label>New System Admin Case</label>
        <locationX>1064</locationX>
        <locationY>738</locationY>
        <assignRecordIdToReference>created_case_id</assignRecordIdToReference>
        <connector>
            <targetReference>Attach_Files_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assignment_Group__c</field>
            <value>
                <stringValue>DEV - SALESFORCE.COM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Application__c</field>
            <value>
                <stringValue>SalesForce.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>problem_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impact__c</field>
            <value>
                <stringValue>2 - Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>PEO Prospect Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originator_Email_Address__c</field>
            <value>
                <stringValue>jhinds@paychex.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4u000004EYGN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124u000000gt8X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Case_to_Service_Now__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>selected_issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>selected_issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgency__c</field>
            <value>
                <stringValue>1 - High</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>1063</locationX>
        <locationY>479</locationY>
        <assignRecordIdToReference>created_case_id</assignRecordIdToReference>
        <connector>
            <targetReference>Attach_Files_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>problem_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>PEO Prospect Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4u000004EYGN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124u000000gt8X</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>selected_issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>selected_issue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1379</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>created_case_id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_related_account</name>
        <label>Get related account</label>
        <locationX>253</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_issue_submission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_related_contact</name>
        <label>get related contact</label>
        <locationX>253</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <screens>
        <name>Attach_Files_Screen</name>
        <label>Attach Files Screen</label>
        <locationX>1216</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <fields>
            <name>FileUploadText</name>
            <fieldText>&lt;p&gt;Please provide any screenshots or files that may help us assist you with your request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.png,.doc,.docx,.txt,.xlsx,.xlsm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Browse...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Supported File Types: &apos;.pdf,.jpg,.png,.doc,.docx,.txt,.xlsx,.xlsm&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>created_case_id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure Screen</label>
        <locationX>862</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>failure_screen</name>
            <fieldText>&lt;p&gt;There was a problem submitting your case.  Please reach out to your sales rep for additional assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_issue_submission</name>
        <label>New issue submission</label>
        <locationX>251</locationX>
        <locationY>512</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_selection</targetReference>
        </connector>
        <fields>
            <name>Welcome_Screen_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hello, {!$User.FirstName}! Enter some information below related to your issue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>problem_select_list</name>
            <choiceReferences>problem_selection_fileUpload</choiceReferences>
            <choiceReferences>problem_selection_providerDocs</choiceReferences>
            <choiceReferences>problem_selection_findindInfo</choiceReferences>
            <choiceReferences>problem_selection_system_issue</choiceReferences>
            <choiceReferences>problem_selection_other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What problem are you running into?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>problem_description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1518</locationX>
        <locationY>443</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_header_successMsg</name>
            <fieldText>&lt;p&gt;Your case has been submitted.  Please allow us up to 24 hours to get back to you.  Please reference case number {!Case.CaseNumber} for further correspondence.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>129</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>get_related_contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[0F91b0000005V3xCAE]
Case {!Case.CaseNumber} has been submitted for {!Account.Name} on behalf of {!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>case_description_input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contact_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact_first_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.FirstName</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact_lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.LastName</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Phone</elementReference>
        </value>
    </variables>
    <variables>
        <name>contact_related_account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>created_case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description_issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>related_account_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selected_issue_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
