force-app/main/default/flows/Ref_Core_Pay_MPSC_Onboarding_Current_Step_Process_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Lost or On Hold</label>
        <locationX>313</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Lost or On Hold</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>(1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost During Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Never Ran</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Lost or On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Set to 2</label>
        <locationX>1633</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to 2</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>(1 OR 5) AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference MPSC Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPSC Reload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Set to 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Set to 1</label>
        <locationX>1897</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to 1</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference MPSC Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPSC Reload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_Set to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15</name>
        <label>Back to Case Creation</label>
        <locationX>2161</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>myRule_17</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Back to Case Creation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_15</name>
            <conditionLogic>(1 OR 4) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference MPSC Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPSC Reload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>TRUE_Back to Case Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17</name>
        <label>Lost or On Hold SMB</label>
        <locationX>2425</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Lost or On Hold SMB</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Never_Ran__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Never_Ran_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>TRUE_Lost or On Hold SMB</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>Ready for Transition</label>
        <locationX>2689</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Ready for Transition</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>TRUE_Ready for Transition</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21</name>
        <label>Set to First Payroll Processed</label>
        <locationX>2952</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>myRule_23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to First Payroll Processed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Run_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items/Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>TRUE_Set to First Payroll Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_23</name>
        <label>Set to Ready to Run First Payroll</label>
        <locationX>3215</locationX>
        <locationY>1475</locationY>
        <defaultConnector>
            <targetReference>myRule_25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to Ready to Run First Payroll</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items/Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>TRUE_Set to Ready to Run First Payroll</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_25</name>
        <label>Set to Welcome Call Complete</label>
        <locationX>3477</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>myRule_27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to Welcome Call Complete</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items/Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>TRUE_Set to Welcome Call Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_27</name>
        <label>Set to Welcome Email Complete</label>
        <locationX>3737</locationX>
        <locationY>1691</locationY>
        <defaultConnector>
            <targetReference>myRule_29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to Welcome Email Complete</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_27</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 ANd 5 and 6 and 7 and 8 and 9 and 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_Client_Contact_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Caller_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items/Information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>TRUE_Set to Welcome Email Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_29</name>
        <label>Set Client Assigned to IS</label>
        <locationX>3993</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>myRule_31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set Client Assigned to IS</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items/Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Run_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>TRUE_Set Client Assigned to IS</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Set to 6</label>
        <locationX>577</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to 6</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>(1 OR 8) AND 2 AND 3 AND 4  AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference MPSC Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Run_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPSC Reload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_Set to 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_31</name>
        <label>Set to Client Received/Missing Information</label>
        <locationX>4241</locationX>
        <locationY>1907</locationY>
        <defaultConnector>
            <targetReference>myRule_33</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to Client Received/Missing Information</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Intake_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Items/Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Run_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>TRUE_Set to Client Received/Missing Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_33</name>
        <label>Set To Client Received</label>
        <locationX>4472</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>myRule_35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set To Client Received</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Run_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>TRUE_Set To Client Received</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_35</name>
        <label>Back To Case Creation</label>
        <locationX>4670</locationX>
        <locationY>2123</locationY>
        <defaultConnectorLabel>FALSE_Back To Case Creation</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallerName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Run_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_ready_for_transition__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>TRUE_Back To Case Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Set to 5</label>
        <locationX>841</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to 5</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>(1 or 7) and 2 and 3 and 4 and 5 And 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference MPSC Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Run_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPSC Reload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>TRUE_Set to 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Set to 4</label>
        <locationX>1105</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to 4</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>(1 OR 6) AND 2 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference MPSC Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPSC Reload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Set to 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>Set to 3</label>
        <locationX>1369</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Set to 3</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>(1 or 6) and 2 and 3 and 4 and 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference MPSC Onboarding Core Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_IS_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Welcome_Call_Complete_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Client_Load_Complete__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Load_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MPSC Reload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE_Set to 3</label>
        </rules>
    </decisions>
    <description>Migrated from the Ref Core Pay MPSC Onboarding Current Step Process process using multiple criteria.
ECP Insite Step Updates to include both SMB and MPSC Conditions
APR0158678(5/07/2024) - Currently it changes status upon Initial Contact/WC Email Complete Date field is populated but as per the apr request we alter the feed to Welcome call Complete Date field from set to step2 to set to step6.</description>
    <environments>Default</environments>
    <interviewLabel>Ref Core Pay MPSC Onboarding Current Step Process_2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ref Core Pay MPSC Onboarding Current Step Process_2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_11_A1</name>
        <label>Set to Step 2</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(2 of 6) Initial contact complete - Load in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(2 of 6) Initial contact complete - Load in progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A1</name>
        <label>Set to Step 1</label>
        <locationX>1634</locationX>
        <locationY>1043</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(1 of 6) Load assigned to IS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(1 of 6) Load assigned to IS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_15_A1</name>
        <label>Back to Case Creation</label>
        <locationX>1898</locationX>
        <locationY>1151</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Case Creation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Case Creation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_17_A1</name>
        <label>Do Nothing2</label>
        <locationX>2162</locationX>
        <locationY>1259</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost Client</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Lost Client</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A1</name>
        <label>Onboarding Complete</label>
        <locationX>2426</locationX>
        <locationY>1367</locationY>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Onboarding Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Do Nothing</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <elementReference>$Record.Current_Step__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_21_A1</name>
        <label>set to first payroll processed</label>
        <locationX>2690</locationX>
        <locationY>1475</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>First Payroll Processed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>First Payroll Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_23_A1</name>
        <label>Set to Ready to Run First Payroll</label>
        <locationX>2954</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ready to Run First Payroll</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Ready to Run First Payroll</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_25_A1</name>
        <label>Set to Welcome Call Complete</label>
        <locationX>3218</locationX>
        <locationY>1691</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Welcome Call Complete</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Welcome Call Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_27_A1</name>
        <label>Set to Welcome Email Complete</label>
        <locationX>3482</locationX>
        <locationY>1799</locationY>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Welcome Email Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_29_A1</name>
        <label>Set to Assigned to IS</label>
        <locationX>3746</locationX>
        <locationY>1907</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client Assigned to IS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Client Assigned to IS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_31_A1</name>
        <label>Set to Missing Info</label>
        <locationX>4010</locationX>
        <locationY>2015</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client Received/Missing Information</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Client Received/Missing Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_33_A1</name>
        <label>Set to In progress</label>
        <locationX>4274</locationX>
        <locationY>2123</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Client Received</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Client Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_35_A1</name>
        <label>Set to New</label>
        <locationX>4538</locationX>
        <locationY>2231</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Case Creation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Case Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A1</name>
        <label>Set to Step 6</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(6 of 6) Client ready for transition</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(6 of 6) Client ready for transition</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_5_A1</name>
        <label>Set to Step 5</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(5 of 6) 1st run complete  Finalizing implementation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(5 of 6) 1st run complete  Finalizing implementation</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Set to Step 4</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(4 of 6) Audit complete  Ready to run payroll</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(4 of 6) Audit complete  Ready to run payroll</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_9_A1</name>
        <label>Set to Step 3</label>
        <locationX>1106</locationX>
        <locationY>827</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Current_Step__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>(3 of 6) Data load complete - Audit in progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>(3 of 6) Data load complete - Audit in progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>187</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Reference_Core_Payroll__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
