force-app/main/default/flows/Reference_TAA_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ast1</name>
        <label>ast1</label>
        <locationX>270</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>ast1Available</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_2_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ast2</name>
        <label>ast2</label>
        <locationX>270</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>ast2Available</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_3_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ast3</name>
        <label>ast3</label>
        <locationX>270</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>ast3Available</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_4_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ast4</name>
        <label>ast4</label>
        <locationX>270</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>ast4Available</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asset_Records</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Asset_1_Check</name>
        <label>Asset 1 Check</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Asset_2_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA-ONL_PAYROLL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA-BPR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA-PP_PR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PEO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ast1</targetReference>
            </connector>
            <label>Asset 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_2_Check</name>
        <label>Asset 2 Check</label>
        <locationX>402</locationX>
        <locationY>1211</locationY>
        <defaultConnector>
            <targetReference>Asset_3_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA-EOC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ast2</targetReference>
            </connector>
            <label>Asset 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_3_Check</name>
        <label>Asset 3 Check</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Asset_4_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA-HR_CONNECT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ast3</targetReference>
            </connector>
            <label>Asset 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Asset_4_Check</name>
        <label>Asset 4 Check</label>
        <locationX>402</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Check_Asset_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_4</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA-PNG_STRT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAA10014</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1282</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Asset_Records.Product_Plan_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1316</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ast4</targetReference>
            </connector>
            <label>Asset 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Assets_Available</name>
        <label>Check Assets Available</label>
        <locationX>182</locationX>
        <locationY>2195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assets_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ast1Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ast2Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ast3Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ast4Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Ref_TAA</targetReference>
            </connector>
            <label>Assets present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CurrntStepChanged</name>
        <label>CurrntStepChanged</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Step_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Build_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Build_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Build Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Build_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Build Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PreCheck_Qualifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAsset</targetReference>
            </connector>
            <label>Current Step Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Service ToM Onboarding Record type or Service STM ONboarding Record Type?</description>
        <name>Is_Correct_RT</name>
        <label>Is Correct RT?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>CurrntStepChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Correct_RT_and_Owner_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service ToM Onboarding Record Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service STM Onboarding Record Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_STM_Implementation_Coordinator</targetReference>
            </connector>
            <label>Correct RT and Owner changed</label>
        </rules>
        <rules>
            <name>Service_STM_Essentials_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WelcomeEmailSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Welcome_Email</targetReference>
            </connector>
            <label>Service STM Essentials RT?</label>
        </rules>
    </decisions>
    <description>APR0149093: Fast Track | Ref TAA Field Automation

Update to automatically populate the STM Implementation Coordinator

APR0166969</description>
    <environments>Default</environments>
    <interviewLabel>Reference TAA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reference TAA Flow</label>
    <loops>
        <name>Check_Asset_Records</name>
        <label>Check Asset Records</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <collectionReference>GetAsset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_1_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Assets_Available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAsset</name>
        <label>GetAsset</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Asset_Records</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case_Lookup__r.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA-ONL_PAYROLL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA-EOC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA-HR_CONNECT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA-PNG_STRT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TAA10014</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1282</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1316</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA-BPR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA-PP_PR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Plan_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PEO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>APR0166969</description>
        <name>Update_Date_Welcome_Email</name>
        <label>Update Date Welcome Email</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>CurrntStepChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Welcome_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Ref_TAA</name>
        <label>update Ref TAA</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <inputAssignments>
            <field>PreCheck_Qualifier__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_STM_Implementation_Coordinator</name>
        <label>Update STM Implementation Coordinator</label>
        <locationX>116</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>CurrntStepChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>STM_Implementation_Coordinator__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Correct_RT</targetReference>
        </connector>
        <object>Reference_TAA__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ast1Available</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ast2Available</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ast3Available</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ast4Available</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
