force-app/main/default/flows/Reference_Client_Retention_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Resolution_Team_New_Record_Assigned</name>
        <label>Resolution Team New Record Assigned</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ResolutionQueueNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>PC_Name</name>
        <label>PC Name</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Transfered_to_Resolution_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospect_Client_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prospect_Client_Name__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PC_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Name_Update</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Current Step just changed to Transfer to Resolution Team</description>
        <name>Transfered_to_Resolution_Team</name>
        <label>Transfered to Resolution Team</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer to Resolution Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolution_Team_New_Record_Assigned</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Transfer</label>
        </rules>
    </decisions>
    <description>send Chatterpost to Resolution team if record transferred to their queue
update PC Name to match Prospect-Client Name for global search to work</description>
    <environments>Default</environments>
    <interviewLabel>Reference Client Retention After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reference Client Retention After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Resolution_Chattergroup</name>
        <label>Resolution Chattergroup</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Retention Resolution Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>PC_Name_Update</name>
        <label>PC Name Update</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Transfered_to_Resolution_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>PC_Name__c</field>
            <value>
                <elementReference>$Record.Prospect_Client_Name__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Resolution_Chattergroup</targetReference>
        </connector>
        <object>Reference_Client_Retention__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>notify Resolution queue a record has been assigned to them.</description>
        <name>ResolutionQueueNotification</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>@[{!Resolution_Chattergroup.Id}] A new resolution record has arrived in the queue.</text>
    </textTemplates>
    <variables>
        <name>TriageRecordtypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
