force-app/main/default/flows/Referral_Contact_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Set_To_Be_Merged</name>
        <label>Check Set To Be Merged</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Check_AICPA_Enrolled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_This_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merge_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MergeFieldPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_To_Be_merged</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is This Primary?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Merge_Name_Set</name>
        <label>Is Merge Name Set?</label>
        <locationX>314</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Check_Set_To_Be_Merged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Merge_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Merge_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Merge_Request_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Merge Name</label>
        </rules>
    </decisions>
    <decisions>
        <description>This sets a product sensitivity if a referral contact is created under bank of colorado.</description>
        <name>Is_This_Bank_Of_Colorado</name>
        <label>Is This Bank Of Colorado</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Referral_Account</name>
            <conditionLogic>(1 OR (2 AND 3) ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bank of Colorado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Account__r.Parent_Referral_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referral_Account__r.Parent_Referral_Account__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bank of Colorado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sensitivities</targetReference>
            </connector>
            <label>Check Referral Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Profiled</name>
        <label>Is This Profiled?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_Merge_Name_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Profiled_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Philosophy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Involvement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Payroll_Done_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Business_Clients__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ADP_Clients__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Local_Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.In_House__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.S_Corp_Officer_Only__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.House_Hold_Payrolls__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Profiled_Fields</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Profiled Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Broker_Primary_is_checked</name>
        <label>Sales Broker Primary is checked?</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Is_This_Bank_Of_Colorado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_Lockdown_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesBroker_Primary_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesBroker_Primary_Record__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lockdown_Record_field</targetReference>
            </connector>
            <label>Checking Lockdown Record</label>
        </rules>
        <rules>
            <name>Unchecking_Lockdown_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesBroker_Primary_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesBroker_Primary_Record__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clearing_Lockdown_field_Value</targetReference>
            </connector>
            <label>Unchecking Lockdown Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>MergeFieldPrimary</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.Merge_Name__c})) &amp;&amp; ((LOWER(RIGHT( {!$Record.Merge_Name__c} , 8)) = &quot;primary1&quot; ) || (LOWER(RIGHT( {!$Record.Merge_Name__c} , 8)) = &quot;sfdcapi1&quot; ))</expression>
    </formulas>
    <interviewLabel>Referral Contact Before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Referral Contact Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Check_AICPA_Enrolled</name>
        <label>Check AICPA Enrolled</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Check_AKC_Registered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AICPA_Enrolled__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </filters>
        <filters>
            <field>AICPA_Enrolled_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AICPA_Enrolled_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Check_AKC_Registered</name>
        <label>Check AKC Registered</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Sales_Broker_Primary_is_checked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AKC_Registered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_AKC_Registered__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_AKC_Registered__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clearing_Lockdown_field_Value</name>
        <label>Clearing Lockdown field Value</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Is_This_Bank_Of_Colorado</targetReference>
        </connector>
        <inputAssignments>
            <field>Lock_Down_Record__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Merge_Request_Date</name>
        <label>Set Merge Request Date</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_Set_To_Be_Merged</targetReference>
        </connector>
        <inputAssignments>
            <field>Merge_Request_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Profiled_Fields</name>
        <label>Set Profiled Fields</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Is_Merge_Name_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>Profiled_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profiled__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_To_Be_merged</name>
        <label>Set To Be merged</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Check_AICPA_Enrolled</targetReference>
        </connector>
        <inputAssignments>
            <field>To_Be_Merged_Merged__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lockdown_Record_field</name>
        <label>Update Lockdown Record field</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Is_This_Bank_Of_Colorado</targetReference>
        </connector>
        <inputAssignments>
            <field>Lock_Down_Record__c</field>
            <value>
                <stringValue>Sales Broker Primary</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sensitivities</name>
        <label>Update Sensitivities</label>
        <locationX>182</locationX>
        <locationY>1811</locationY>
        <inputAssignments>
            <field>Sensitivity_401_k__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sensitivity_Health_Ins__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_This_Profiled</targetReference>
        </connector>
        <object>Referral_Contact__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>20</triggerOrder>
</Flow>
