force-app/main/default/flows/Reference_Agency_Create_or_update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Current_Step</name>
        <label>Check Current Step</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Current_Step_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_to_New_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to New Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Current_Step_and_Owner</targetReference>
            </connector>
            <label>Sent to New Case</label>
        </rules>
        <rules>
            <name>NC_Case_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC Case Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Date_Pending</targetReference>
            </connector>
            <label>NC Case Pending</label>
        </rules>
        <rules>
            <name>NC_Case_Processing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC Case Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case_Date_Processing</targetReference>
            </connector>
            <label>NC Case Processing</label>
        </rules>
        <rules>
            <name>NC_Case_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC Case Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Case_Date_Processing</targetReference>
            </connector>
            <label>NC Case Completed</label>
        </rules>
        <rules>
            <name>Onboarding_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Case_Date_Onboarding_Complete</targetReference>
            </connector>
            <label>Onboarding Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Step_Date_Changed</name>
        <label>Current Step Date Changed</label>
        <locationX>1128</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>IsStatusChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC Pending: Flock ATC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Step_Last_Modified_Updated</targetReference>
            </connector>
            <label>Date_Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsStatusChanged</name>
        <label>IsStatusChanged</label>
        <locationX>1128</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isStatusChangedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Or_Pending_Or_Closed</targetReference>
            </connector>
            <label>isStatusChangedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_null</name>
        <label>Pending null?</label>
        <locationX>424</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>ChangeDateValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Pending</name>
            <conditionLogic>1 and 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pending_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPendingDateValue</targetReference>
            </connector>
            <label>Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_Closed_Or_Pending</name>
        <label>Sent Closed Or Pending</label>
        <locationX>644</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Sent_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SentClosed</defaultConnectorLabel>
        <rules>
            <name>Pend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_null</targetReference>
            </connector>
            <label>Pend</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_is_Null</name>
        <label>Sent is Null?</label>
        <locationX>864</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>ChangeDateValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>set_sent</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SetSentDateValue</targetReference>
            </connector>
            <label>set sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_Or_Pending_Or_Closed</name>
        <label>Sent Or Pending  Or Closed</label>
        <locationX>908</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>ChangeDateValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_Closed_Or_Pending</targetReference>
            </connector>
            <label>Sent/ Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_to_New_Casea</name>
        <label>Sent to New Casea?</label>
        <locationX>1128</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Current_Step_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reference HNBF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Current_Step</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>10/18 Update 2

02/15 2024 Merged before actions from Reference Agency HNBF Automation Flow</description>
    <environments>Default</environments>
    <interviewLabel>Reference Agency Create or update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reference Agency Create or update Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ChangeDateValue</name>
        <label>ChangeDateValue</label>
        <locationX>908</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_SetSentDateValue</name>
        <label>Copy 1 of SetSentDateValue</label>
        <locationX>732</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>ChangeDateValue</targetReference>
        </connector>
        <inputAssignments>
            <field>Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Current_Step_Last_Modified_Updated</name>
        <label>Current Step Last Modified Updated</label>
        <locationX>996</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>IsStatusChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Step_Last_Modified__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>New_Case_Date_Processing</name>
        <label>New Case Date Processing</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Current_Step_Date_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>New_Case_Date_Processing__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Case_Date_Pending</name>
        <label>Set Case Date Pending</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Current_Step_Date_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>New_Case_Date_Pending__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_New_Case_Date_Onboarding_Complete</name>
        <label>Set New Case Date Onboarding Complete</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Current_Step_Date_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Onboarding_Transition_Completed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_New_Case_Date_Processing</name>
        <label>Set New Case Date Processing</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Current_Step_Date_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>Back from New Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Date_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.IC_Rep_Assigned__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetPendingDateValue</name>
        <label>SetPendingDateValue</label>
        <locationX>292</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>ChangeDateValue</targetReference>
        </connector>
        <inputAssignments>
            <field>Pending_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Step_and_Owner</name>
        <label>Update Current Step and Owner</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Current_Step_Date_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Step__c</field>
            <value>
                <stringValue>NC Case Received</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Case_Date_Received__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G4u000002seHV</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sent_to_New_Casea</targetReference>
        </connector>
        <object>Reference_HNBF__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
