force-app/main/default/flows/Reference_PEO_changing_record_types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Reference_PEO__c].Implementation_Project_Manager__c}], @[{![Reference_PEO__c].NCS_Payroll_Specialist__c}], @[{![Reference_PEO__c].NCS_Benefits_Specialist__c}], @[{![Reference_PEO__c].Contractual_Specialist__c}], @[0F970000000Tiba], @[0F970000000TihO], @[0F970000000TiVh]\n\n{![Reference_PEO__c].Account_Lookup__r.Name}, {![Reference_PEO__c].Branch_Client_Number__c}, has been changed to a paper deal. Supervisors - As a part of the Web Based process it is possible that valid employees have been created in Core Advanced with defaulted, and potentially incorrect, information. Verification and QC should account for this.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>chatter, all ipms</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.Implementation_Project_Manager__c}], @[{!myVariable_current.NCS_Payroll_Specialist__c}], @[{!myVariable_current.NCS_Benefits_Specialist__c}], @[{!myVariable_current.Contractual_Specialist__c}], @[0F970000000Tiba], @[0F970000000TihO], @[0F970000000TiVh]

{!myVariable_current.Account_Lookup__r.Name}, {!myVariable_current.Branch_Client_Number__c}, has been changed to a paper deal. Supervisors - As a part of the Web Based process it is possible that valid employees have been created in Core Advanced with defaulted, and potentially incorrect, information. Verification and QC should account for this.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Reference_PEO__c].Implementation_Project_Manager__c}], @[{![Reference_PEO__c].NCS_Payroll_Specialist__c}], @[{![Reference_PEO__c].NCS_Benefits_Specialist__c}], @[{![Reference_PEO__c].Contractual_Specialist__c}], @[0F970000000TihO], @[0F970000000TiVh]\n\n{![Reference_PEO__c].Account_Lookup__r.Name}, {![Reference_PEO__c].Branch_Client_Number__c}, has been changed to a paper deal. Supervisors - As a part of the Web Based process it is possible that valid employees have been created in Core Advanced with defaulted, and potentially incorrect, information. Verification and QC should account for this.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>chatter</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.Implementation_Project_Manager__c}], @[{!myVariable_current.NCS_Payroll_Specialist__c}], @[{!myVariable_current.NCS_Benefits_Specialist__c}], @[{!myVariable_current.Contractual_Specialist__c}], @[0F970000000TihO], @[0F970000000TiVh]

{!myVariable_current.Account_Lookup__r.Name}, {!myVariable_current.Branch_Client_Number__c}, has been changed to a paper deal. Supervisors - As a part of the Web Based process it is possible that valid employees have been created in Core Advanced with defaulted, and potentially incorrect, information. Verification and QC should account for this.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[{&quot;name&quot;:&quot;PBS Benefits NCS&quot;,&quot;id&quot;:&quot;0F970000000TiVhCAK&quot;}],&quot;message&quot;:&quot;@[{![Reference_PEO__c].Implementation_Project_Manager__c}], @[{![Reference_PEO__c].NCS_Payroll_Specialist__c}], @[{![Reference_PEO__c].NCS_Benefits_Specialist__c}], @[{![Reference_PEO__c].Contractual_Specialist__c}], @[0F970000000Tiba], @[0F970000000TihO], @[0F970000000TiVhCAK] \n\n{![Reference_PEO__c].Account_Lookup__r.Name}, {![Reference_PEO__c].Branch_Client_Number__c}, has been changed to a web based deal.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>chatter, all ipms</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.Implementation_Project_Manager__c}], @[{!myVariable_current.NCS_Payroll_Specialist__c}], @[{!myVariable_current.NCS_Benefits_Specialist__c}], @[{!myVariable_current.Contractual_Specialist__c}], @[0F970000000Tiba], @[0F970000000TihO], @[0F970000000TiVhCAK] 

{!myVariable_current.Account_Lookup__r.Name}, {!myVariable_current.Branch_Client_Number__c}, has been changed to a web based deal.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[{&quot;name&quot;:&quot;PBS Benefits NCS&quot;,&quot;id&quot;:&quot;0F970000000TiVhCAK&quot;}],&quot;message&quot;:&quot;@[{![Reference_PEO__c].Implementation_Project_Manager__c}], @[{![Reference_PEO__c].NCS_Payroll_Specialist__c}], @[{![Reference_PEO__c].NCS_Benefits_Specialist__c}], @[{![Reference_PEO__c].Contractual_Specialist__c}], @[0F970000000TihO], @[0F970000000TiVhCAK] \n\n{![Reference_PEO__c].Account_Lookup__r.Name}, {![Reference_PEO__c].Branch_Client_Number__c}, has been changed to a web based deal.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>chatter</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.Implementation_Project_Manager__c}], @[{!myVariable_current.NCS_Payroll_Specialist__c}], @[{!myVariable_current.NCS_Benefits_Specialist__c}], @[{!myVariable_current.Contractual_Specialist__c}], @[0F970000000TihO], @[0F970000000TiVhCAK] 

{!myVariable_current.Account_Lookup__r.Name}, {!myVariable_current.Branch_Client_Number__c}, has been changed to a web based deal.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>changing record types, all IPM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>changing record type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>changing record types - paper to web, all IPM</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>changing record type - paper to web</label>
        </rules>
    </decisions>
    <description>LM - when record type changes from Web Based Onboarding to New Business Onboarding, send chatter, CM - when record type changes from Paper Based Onboarding to Web Based Onboarding</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE( [Reference_PEO__c].RecordType.Name ) = &apos;PEO Web Based Onboarding&apos; &amp;&amp; 
[Reference_PEO__c].RecordType.Name = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; [Reference_PEO__c].All_IPMs__c = true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE( {!myVariable_current.RecordType.Name} ) = &apos;PEO Web Based Onboarding&apos; &amp;&amp; 
{!myVariable_current.RecordType.Name} = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; {!myVariable_current.All_IPMs__c} = true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE( [Reference_PEO__c].RecordType.Name ) = &apos;PEO Web Based Onboarding&apos; &amp;&amp; 
[Reference_PEO__c].RecordType.Name = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; [Reference_PEO__c].All_IPMs__c = false</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE( {!myVariable_current.RecordType.Name} ) = &apos;PEO Web Based Onboarding&apos; &amp;&amp; 
{!myVariable_current.RecordType.Name} = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; {!myVariable_current.All_IPMs__c} = false</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE( [Reference_PEO__c].RecordType.Name ) = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; 
[Reference_PEO__c].RecordType.Name = &apos;PEO Web Based Onboarding&apos; &amp;&amp; [Reference_PEO__c].All_IPMs__c = true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE( {!myVariable_current.RecordType.Name} ) = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; 
{!myVariable_current.RecordType.Name} = &apos;PEO Web Based Onboarding&apos; &amp;&amp; {!myVariable_current.All_IPMs__c} = true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>PRIORVALUE( [Reference_PEO__c].RecordType.Name ) = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; 
[Reference_PEO__c].RecordType.Name = &apos;PEO Web Based Onboarding&apos; &amp;&amp; [Reference_PEO__c].All_IPMs__c = false</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>PRIORVALUE( {!myVariable_current.RecordType.Name} ) = &apos;PEO Paper Based Onboarding&apos; &amp;&amp; 
{!myVariable_current.RecordType.Name} = &apos;PEO Web Based Onboarding&apos; &amp;&amp; {!myVariable_current.All_IPMs__c} = false</expression>
    </formulas>
    <interviewLabel>Reference_PEO_changing_record_types-6_InterviewLabel</interviewLabel>
    <label>Reference PEO changing record types</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Reference_PEO__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Reference_PEO__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Reference_PEO__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
