force-app/main/default/flows/Reference_401k_Trade_Complete_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assigning_values_To_Case_Field</name>
        <label>Assigning values To Case Field</label>
        <locationX>53</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012700000001U2zAAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0g000002sCPzEAM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Lookup__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client has moved from Paychex legacy to Paychex PEP. Final 5500 is need for SG XXXXXX to show transfer of assets from single employer plan to PEP.  Name of Plan - Paychex Pooled Employer 401(k) Plan Type of Plan - 401(k) Profit Sharing Plan Plan Sponsor - Paychex Retirement LLC IRS Employer Identification No. of sponsor of the plan - 85-3275159</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Sungard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Old_Sungard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request/Action Needed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>401K</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Call_Topic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5500/8955/5558</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Disposition_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administrator</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValuestoCreateCase.Disposition_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Self</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Related_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_MM_Change_Type</name>
        <label>Check MM Change Type</label>
        <locationX>234</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single_Employer_to_PEP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MM_Change_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Single Employer to PEP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buy_Verified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigning_values_To_Case_Field</targetReference>
            </connector>
            <label>Single Employer to PEP</label>
        </rules>
        <rules>
            <name>HRS_4S_PEP_to_Termination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MM_Change_Type2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HRS 4S PEP to Termination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Trade_Complete_Date</targetReference>
            </connector>
            <label>HRS 4S PEP to Termination</label>
        </rules>
    </decisions>
    <description>Populate the Trade Complete Date if Record type = Service 401k Money Manager Change AND MM Change Type = HRS 4S PEP Termination AND Buy Verified = true.     if Buy Verified is uncheck it will remove the date in Trade Complete Date</description>
    <environments>Default</environments>
    <interviewLabel>Reference 401k Trade Complete Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reference 401k Trade Complete Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Related_Case</name>
        <label>Create Related Case</label>
        <locationX>245</locationX>
        <locationY>472</locationY>
        <inputReference>ValuestoCreateCase</inputReference>
    </recordCreates>
    <recordUpdates>
        <description>if the Buy Verified is uncheck then remove the Trade Complete Date</description>
        <name>Remove_Trade_Complete_Date</name>
        <label>Remove Trade Complete Date</label>
        <locationX>536</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Update_Trade_Complete_Date</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Buy_Verified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Trade_Complete_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>if record type = Service 401k Money Manager Change and MM change Type = HRS 4S PEP to Termination and Buy Verified is checked, then populate the Trade Complete Date.   ***If Buy Verified is uncheck, remove date, then if buy verified checks again then populate the date for Trade Complete Date</description>
        <name>Update_Trade_Complete_Date</name>
        <label>Update Trade Complete Date</label>
        <locationX>536</locationX>
        <locationY>532</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000UJ0kAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>MM_Change_Type2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRS 4S PEP to Termination</stringValue>
            </value>
        </filters>
        <filters>
            <field>Buy_Verified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Trade_Complete_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>639</locationX>
        <locationY>9</locationY>
        <connector>
            <targetReference>Check_MM_Change_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000UJ0kAAG</stringValue>
            </value>
        </filters>
        <object>Reference_401k_S125__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ValuestoCreateCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
