force-app/main/default/flows/Reference_Incoming_Funds_Email_Alerts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Chase_401k_Trade_Complete</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Chase 401k Trade Complete</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <actionName>Reference_Incoming_Funds__c.Chase_401k_Trade_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_12_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Reference_Incoming_Funds__c.Chase_401k_Trade_Complete</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Chase_401k_Trade_Complete_for_Broker</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Chase 401k Trade Complete for Broker</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Reference_Incoming_Funds__c.Chase_401k_Trade_Complete_for_Broker</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_15_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Reference_Incoming_Funds__c.Chase_401k_Trade_Complete_for_Broker</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Pending_ACH_Collection</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Pending ACH Collection Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Reference_Incoming_Funds__c.Pending_ACH_Collection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Reference_Incoming_Funds__c.Pending_ACH_Collection</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ACH_401k_Trade_Complete</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>ACH 401k Trade Complete</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <actionName>Reference_Incoming_Funds__c.ACH_401k_Trade_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Reference_Incoming_Funds__c.ACH_401k_Trade_Complete</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ACH_401k_Trade_Complete_for_Broker</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>ACH 401k Trade Complete for Broker</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Reference_Incoming_Funds__c.ACH_401k_Trade_Complete_for_Broker</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Reference_Incoming_Funds__c.ACH_401k_Trade_Complete_for_Broker</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Chase_401k_Pending_CAM_Trade</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Chase 401k Pending CAM Trade</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Reference_Incoming_Funds__c.Chase_401k_Pending_CAM_Trade</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Reference_Incoming_Funds__c.Chase_401k_Pending_CAM_Trade</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Pending ACH Collection</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Chase 401k Trade Complete</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Chase 401k Trade Complete for Broker</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>ACH 401k Trade Complete</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>ACH 401k Trade Complete for Broker</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Chase 401k Pending CAM Trade</label>
        </rules>
    </decisions>
    <description>Sends out Emails to the client based on criteria</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A2_5319485493</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_12_A2_9045504896</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_9851346001</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A2_7581717335</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISBLANK([Reference_Incoming_Funds__c].Contact_Email__c)),ISCHANGED([Reference_Incoming_Funds__c].Pending_Task__c ) , ISPICKVAL([Reference_Incoming_Funds__c].Pending_Task__c,&apos;Pending ACH Collection&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!myVariable_current.Contact_Email__c})),ISCHANGED({!myVariable_current.Pending_Task__c} ) , ISPICKVAL({!myVariable_current.Pending_Task__c},&apos;Pending ACH Collection&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISBLANK([Reference_Incoming_Funds__c].Contact_Email__c)),
ISBLANK([Reference_Incoming_Funds__c].Bank_Return_Date__c),
ISCHANGED([Reference_Incoming_Funds__c].Pending_Task__c ) , ISPICKVAL([Reference_Incoming_Funds__c].Pending_Task__c,&apos;Trade Complete&apos;), ISPICKVAL([Reference_Incoming_Funds__c].Transmission_Method__c ,&apos;Chase 401K&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!myVariable_current.Contact_Email__c})),
ISBLANK({!myVariable_current.Bank_Return_Date__c}),
ISCHANGED({!myVariable_current.Pending_Task__c} ) , ISPICKVAL({!myVariable_current.Pending_Task__c},&apos;Trade Complete&apos;), ISPICKVAL({!myVariable_current.Transmission_Method__c} ,&apos;Chase 401K&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISBLANK([Reference_Incoming_Funds__c].Broker_Email__c)),
ISBLANK([Reference_Incoming_Funds__c].Bank_Return_Date__c ),
ISCHANGED([Reference_Incoming_Funds__c].Pending_Task__c ) , ISPICKVAL([Reference_Incoming_Funds__c].Pending_Task__c,&apos;Trade Complete&apos;), ISPICKVAL([Reference_Incoming_Funds__c].Transmission_Method__c ,&apos;Chase 401K&apos;),
ISPICKVAL([Reference_Incoming_Funds__c].Contribution_Type__c,&apos;Rollover&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!myVariable_current.Broker_Email__c})),
ISBLANK({!myVariable_current.Bank_Return_Date__c} ),
ISCHANGED({!myVariable_current.Pending_Task__c} ) , ISPICKVAL({!myVariable_current.Pending_Task__c},&apos;Trade Complete&apos;), ISPICKVAL({!myVariable_current.Transmission_Method__c} ,&apos;Chase 401K&apos;),
ISPICKVAL({!myVariable_current.Contribution_Type__c},&apos;Rollover&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISBLANK([Reference_Incoming_Funds__c].Contact_Email__c)),
ISCHANGED([Reference_Incoming_Funds__c].Pending_Task__c ) , ISPICKVAL([Reference_Incoming_Funds__c].Pending_Task__c,&apos;Trade Complete&apos;), ISPICKVAL([Reference_Incoming_Funds__c].Transmission_Method__c ,&apos;ACH 401K&apos;),
ISBLANK([Reference_Incoming_Funds__c].Bank_Return_Date__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!myVariable_current.Contact_Email__c})),
ISCHANGED({!myVariable_current.Pending_Task__c} ) , ISPICKVAL({!myVariable_current.Pending_Task__c},&apos;Trade Complete&apos;), ISPICKVAL({!myVariable_current.Transmission_Method__c} ,&apos;ACH 401K&apos;),
ISBLANK({!myVariable_current.Bank_Return_Date__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISBLANK([Reference_Incoming_Funds__c].Broker_Email__c)),
ISBLANK([Reference_Incoming_Funds__c].Bank_Return_Date__c ),
ISCHANGED([Reference_Incoming_Funds__c].Pending_Task__c ) ,
ISPICKVAL([Reference_Incoming_Funds__c].Pending_Task__c,&apos;Trade Complete&apos;), ISPICKVAL([Reference_Incoming_Funds__c].Transmission_Method__c ,&apos;ACH 401K&apos;),
NOT(ISPICKVAL([Reference_Incoming_Funds__c].Contribution_Type__c,&apos;Other (Add Comment)&apos; )))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!myVariable_current.Broker_Email__c})),
ISBLANK({!myVariable_current.Bank_Return_Date__c} ),
ISCHANGED({!myVariable_current.Pending_Task__c} ) ,
ISPICKVAL({!myVariable_current.Pending_Task__c},&apos;Trade Complete&apos;), ISPICKVAL({!myVariable_current.Transmission_Method__c} ,&apos;ACH 401K&apos;),
NOT(ISPICKVAL({!myVariable_current.Contribution_Type__c},&apos;Other (Add Comment)&apos; )))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISBLANK([Reference_Incoming_Funds__c].Contact_Email__c)),ISCHANGED([Reference_Incoming_Funds__c].Pending_Task__c ) , ISPICKVAL([Reference_Incoming_Funds__c].Pending_Task__c,&apos;Pending CAM Trade&apos;), ISPICKVAL([Reference_Incoming_Funds__c].Transmission_Method__c ,&apos;Chase 401K&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!myVariable_current.Contact_Email__c})),ISCHANGED({!myVariable_current.Pending_Task__c} ) , ISPICKVAL({!myVariable_current.Pending_Task__c},&apos;Pending CAM Trade&apos;), ISPICKVAL({!myVariable_current.Transmission_Method__c} ,&apos;Chase 401K&apos;))</expression>
    </formulas>
    <interviewLabel>Reference_Incoming_Funds_Email_Alerts-3_InterviewLabel</interviewLabel>
    <label>Reference Incoming Funds Email Alerts</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Reference_Incoming_Funds__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_12_A2</name>
        <label>Create Task</label>
        <locationX>1200</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision14</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_13_myRule_12_A2_9045504896</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012500000000mcR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Chase 401k Trade Complete: Check Trade Complete Email Sent to Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Manager_Tracking__c;Asset;AssetRelationship;Batch_Job_Tracking__c;Business_Profile__c;CRMfusionDBR101__Duplicate_Warning__c;CSA_Inquiries__c;Campaign;Case;Client_References_Selected__c;Client_Retention_Strategy__c;Client_Success_Manager__c;ContactRequest;Contract;ContractLineItem;DS_Denali__DialSource_Action__c;DS_Denali__DialSource_Interval__c;DS_Denali__DialSource_Offer__c;End_User_Issue_Tracker__c;Enterprise_Service_Challenges__c;Entitlement;HRS_4S_Clt_Support_Discrepancy__c;HRS_4S_Discrepancy__c;HRS_4S_Support_Grading__c;HR_Action_Plan__c;HR_Assessment__c;HR_Services_Poster__c;IBP__Ifbyphone_Call__c;Implementation_Delays__c;IncludeExcludeServices__c;ListEmail;OS_Outages__c;Officers__c;Opportunity;Order;PartnerReferral__c;Product2;ReferenceHRGActivity__c;Reference_401k_S125__c;Reference_ASO__c;Reference_Account_Management__c;Reference_Acct_Mgmt_Notice_Outreach__c;Reference_Acct_Mgmt_Retention_Outreach__c;Reference_Adoption_Agreement_Review__c;Reference_Advisor_Select__c;Reference_BeneTrac_Discrepancy__c;Reference_BeneTrac_Onboarding__c;Reference_CTT__c;Reference_Client_Relations_Details__c;Reference_Client_Relations__c;Reference_Core_Payroll__c;Reference_Credit_Risk__c;Reference_DNC_Email_List__c;Reference_Do_Not_Contact__c;Reference_ES_Action_Plan__c;Reference_ES_Client_Concern_Projects__c;Reference_ES_ERR_Contact__c;Reference_ES_Potential_Products__c;Reference_ES_Preview_to_Flex_Needs__c;Reference_ES_Products_at_Risk__c;Reference_Enterprise_Service__c;Reference_GL__c;Reference_HNBF_Open_Item__c;Reference_HNBF_Policy_Type__c;Reference_HNBF__c;Reference_HRE_CHB_Onboarding__c;Reference_HRE_CHB_Orders__c;Reference_HRG__c;Reference_HRO__c;Reference_HRS_AM_Forecast__c;Reference_HRS_Product__c;Reference_HRS_Retention_Discrepancy__c;Reference_HRS_Termination_Transfer__c;Reference_Incoming_Funds__c;Reference_KAS__c;Reference_MMS_Payroll__c;Reference_MPSC_BenAdmin_Essentials__c;Reference_MPSC_Client_Training_Request__c;Reference_MPSC_Escalations__c;Reference_MPSC__c;Reference_ORM_Returns__c;Reference_PAC_Warranty_Late_Payment__c;Reference_PAC__c;Reference_PEO_Candidates__c;Reference_PEO_Client_Satisfaction_Call__c;Reference_PEO_Discrepancy__c;Reference_PEO_FROI__c;Reference_PEO_No_Start__c;Reference_PEO_SA__c;Reference_PEO__c;Reference_P_C__c;Reference_Payroll_Fulfillment__c;Reference_S125_Onboarding__c;Reference_TAA__c;Reference_Terms_Transfers__c;Referral_Account__c;Referral_Contact__c;Referral_Partner__c;RightAnswersAttached__c;S125_Discrepancy__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;ServiceContract;Solution;State__c;Strategic_Business_Analysis__c;TimeTrade_SF1__Invitation__c;TimeTrade_SF1__Meeting__c;TimeTrade_SF1__TimeTrade_Schedule_Workflow__c;Transfer_Tracking__c;X401k_Discrepancy__c;denaliCadences__Denali_Cadence_Member__c;denaliCadences__Denali_Touchpoint__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;qbdialer__UserStatusLog__c;qualtrics__Survey_Response__c;qualtrics__Survey_Staging__c;sectools__Field_Classification_Permission__c;sectools__IS_Object_Classification__c;sectools__IS_Object_Field_Classification__c;sectools__Profile_Permission__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_15_A2</name>
        <label>Task for Chase email sent to Broker</label>
        <locationX>1500</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012500000000mcR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Chase 401k Trade complete email sent to Broker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A2</name>
        <label>Create Task</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_9851346001</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012500000000mcR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Pending ACH Collection: Pending ACH Collection Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Manager_Tracking__c;Asset;AssetRelationship;Batch_Job_Tracking__c;Business_Profile__c;CRMfusionDBR101__Duplicate_Warning__c;CSA_Inquiries__c;Campaign;Case;Client_References_Selected__c;Client_Retention_Strategy__c;Client_Success_Manager__c;ContactRequest;Contract;ContractLineItem;DS_Denali__DialSource_Action__c;DS_Denali__DialSource_Interval__c;DS_Denali__DialSource_Offer__c;End_User_Issue_Tracker__c;Enterprise_Service_Challenges__c;Entitlement;HRS_4S_Clt_Support_Discrepancy__c;HRS_4S_Discrepancy__c;HRS_4S_Support_Grading__c;HR_Action_Plan__c;HR_Assessment__c;HR_Services_Poster__c;IBP__Ifbyphone_Call__c;Implementation_Delays__c;IncludeExcludeServices__c;ListEmail;OS_Outages__c;Officers__c;Opportunity;Order;PartnerReferral__c;Product2;ReferenceHRGActivity__c;Reference_401k_S125__c;Reference_ASO__c;Reference_Account_Management__c;Reference_Acct_Mgmt_Notice_Outreach__c;Reference_Acct_Mgmt_Retention_Outreach__c;Reference_Adoption_Agreement_Review__c;Reference_Advisor_Select__c;Reference_BeneTrac_Discrepancy__c;Reference_BeneTrac_Onboarding__c;Reference_CTT__c;Reference_Client_Relations_Details__c;Reference_Client_Relations__c;Reference_Core_Payroll__c;Reference_Credit_Risk__c;Reference_DNC_Email_List__c;Reference_Do_Not_Contact__c;Reference_ES_Action_Plan__c;Reference_ES_Client_Concern_Projects__c;Reference_ES_ERR_Contact__c;Reference_ES_Potential_Products__c;Reference_ES_Preview_to_Flex_Needs__c;Reference_ES_Products_at_Risk__c;Reference_Enterprise_Service__c;Reference_GL__c;Reference_HNBF_Open_Item__c;Reference_HNBF_Policy_Type__c;Reference_HNBF__c;Reference_HRE_CHB_Onboarding__c;Reference_HRE_CHB_Orders__c;Reference_HRG__c;Reference_HRO__c;Reference_HRS_AM_Forecast__c;Reference_HRS_Product__c;Reference_HRS_Retention_Discrepancy__c;Reference_HRS_Termination_Transfer__c;Reference_Incoming_Funds__c;Reference_KAS__c;Reference_MMS_Payroll__c;Reference_MPSC_BenAdmin_Essentials__c;Reference_MPSC_Client_Training_Request__c;Reference_MPSC_Escalations__c;Reference_MPSC__c;Reference_ORM_Returns__c;Reference_PAC_Warranty_Late_Payment__c;Reference_PAC__c;Reference_PEO_Candidates__c;Reference_PEO_Client_Satisfaction_Call__c;Reference_PEO_Discrepancy__c;Reference_PEO_FROI__c;Reference_PEO_No_Start__c;Reference_PEO_SA__c;Reference_PEO__c;Reference_P_C__c;Reference_Payroll_Fulfillment__c;Reference_S125_Onboarding__c;Reference_TAA__c;Reference_Terms_Transfers__c;Referral_Account__c;Referral_Contact__c;Referral_Partner__c;RightAnswersAttached__c;S125_Discrepancy__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;ServiceContract;Solution;State__c;Strategic_Business_Analysis__c;TimeTrade_SF1__Invitation__c;TimeTrade_SF1__Meeting__c;TimeTrade_SF1__TimeTrade_Schedule_Workflow__c;Transfer_Tracking__c;X401k_Discrepancy__c;denaliCadences__Denali_Cadence_Member__c;denaliCadences__Denali_Touchpoint__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;qbdialer__UserStatusLog__c;qualtrics__Survey_Response__c;qualtrics__Survey_Staging__c;sectools__Field_Classification_Permission__c;sectools__IS_Object_Classification__c;sectools__IS_Object_Field_Classification__c;sectools__Profile_Permission__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_4_A2</name>
        <label>Create Task</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_5_myRule_4_A2_7581717335</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012500000000mcR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>ACH 401k Trade Complete: ACH Trade Complete Email Sent to Client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Manager_Tracking__c;Asset;AssetRelationship;Batch_Job_Tracking__c;Business_Profile__c;CRMfusionDBR101__Duplicate_Warning__c;CSA_Inquiries__c;Campaign;Case;Client_References_Selected__c;Client_Retention_Strategy__c;Client_Success_Manager__c;ContactRequest;Contract;ContractLineItem;DS_Denali__DialSource_Action__c;DS_Denali__DialSource_Interval__c;DS_Denali__DialSource_Offer__c;End_User_Issue_Tracker__c;Enterprise_Service_Challenges__c;Entitlement;HRS_4S_Clt_Support_Discrepancy__c;HRS_4S_Discrepancy__c;HRS_4S_Support_Grading__c;HR_Action_Plan__c;HR_Assessment__c;HR_Services_Poster__c;IBP__Ifbyphone_Call__c;Implementation_Delays__c;IncludeExcludeServices__c;ListEmail;OS_Outages__c;Officers__c;Opportunity;Order;PartnerReferral__c;Product2;ReferenceHRGActivity__c;Reference_401k_S125__c;Reference_ASO__c;Reference_Account_Management__c;Reference_Acct_Mgmt_Notice_Outreach__c;Reference_Acct_Mgmt_Retention_Outreach__c;Reference_Adoption_Agreement_Review__c;Reference_Advisor_Select__c;Reference_BeneTrac_Discrepancy__c;Reference_BeneTrac_Onboarding__c;Reference_CTT__c;Reference_Client_Relations_Details__c;Reference_Client_Relations__c;Reference_Core_Payroll__c;Reference_Credit_Risk__c;Reference_DNC_Email_List__c;Reference_Do_Not_Contact__c;Reference_ES_Action_Plan__c;Reference_ES_Client_Concern_Projects__c;Reference_ES_ERR_Contact__c;Reference_ES_Potential_Products__c;Reference_ES_Preview_to_Flex_Needs__c;Reference_ES_Products_at_Risk__c;Reference_Enterprise_Service__c;Reference_GL__c;Reference_HNBF_Open_Item__c;Reference_HNBF_Policy_Type__c;Reference_HNBF__c;Reference_HRE_CHB_Onboarding__c;Reference_HRE_CHB_Orders__c;Reference_HRG__c;Reference_HRO__c;Reference_HRS_AM_Forecast__c;Reference_HRS_Product__c;Reference_HRS_Retention_Discrepancy__c;Reference_HRS_Termination_Transfer__c;Reference_Incoming_Funds__c;Reference_KAS__c;Reference_MMS_Payroll__c;Reference_MPSC_BenAdmin_Essentials__c;Reference_MPSC_Client_Training_Request__c;Reference_MPSC_Escalations__c;Reference_MPSC__c;Reference_ORM_Returns__c;Reference_PAC_Warranty_Late_Payment__c;Reference_PAC__c;Reference_PEO_Candidates__c;Reference_PEO_Client_Satisfaction_Call__c;Reference_PEO_Discrepancy__c;Reference_PEO_FROI__c;Reference_PEO_No_Start__c;Reference_PEO_SA__c;Reference_PEO__c;Reference_P_C__c;Reference_Payroll_Fulfillment__c;Reference_S125_Onboarding__c;Reference_TAA__c;Reference_Terms_Transfers__c;Referral_Account__c;Referral_Contact__c;Referral_Partner__c;RightAnswersAttached__c;S125_Discrepancy__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;ServiceContract;Solution;State__c;Strategic_Business_Analysis__c;TimeTrade_SF1__Invitation__c;TimeTrade_SF1__Meeting__c;TimeTrade_SF1__TimeTrade_Schedule_Workflow__c;Transfer_Tracking__c;X401k_Discrepancy__c;denaliCadences__Denali_Cadence_Member__c;denaliCadences__Denali_Touchpoint__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;qbdialer__UserStatusLog__c;qualtrics__Survey_Response__c;qualtrics__Survey_Staging__c;sectools__Field_Classification_Permission__c;sectools__IS_Object_Classification__c;sectools__IS_Object_Field_Classification__c;sectools__Profile_Permission__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_7_A2</name>
        <label>Task for email sent to Broker</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012500000000mcR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>ACH 401k Trade Complete email sent to Broker</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_9_A2</name>
        <label>Create Task</label>
        <locationX>900</locationX>
        <locationY>300</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Due Date Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula_10_myRule_9_A2_5319485493</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Assigned To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>myVariable_current.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Priority</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Task Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012500000000mcR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Chase 401k Pending CAM Trade: Check Pending Trade Email Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Related To ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>APXTConga4__Composer_QuickMerge__c;APXTConga4__Conga_Email_Staging__c;APXTConga4__Conga_Email_Template__c;Account;Account_Manager_Tracking__c;Asset;AssetRelationship;Batch_Job_Tracking__c;Business_Profile__c;CRMfusionDBR101__Duplicate_Warning__c;CSA_Inquiries__c;Campaign;Case;Client_References_Selected__c;Client_Retention_Strategy__c;Client_Success_Manager__c;ContactRequest;Contract;ContractLineItem;DS_Denali__DialSource_Action__c;DS_Denali__DialSource_Interval__c;DS_Denali__DialSource_Offer__c;End_User_Issue_Tracker__c;Enterprise_Service_Challenges__c;Entitlement;HRS_4S_Clt_Support_Discrepancy__c;HRS_4S_Discrepancy__c;HRS_4S_Support_Grading__c;HR_Action_Plan__c;HR_Assessment__c;HR_Services_Poster__c;IBP__Ifbyphone_Call__c;Implementation_Delays__c;IncludeExcludeServices__c;ListEmail;OS_Outages__c;Officers__c;Opportunity;Order;PartnerReferral__c;Product2;ReferenceHRGActivity__c;Reference_401k_S125__c;Reference_ASO__c;Reference_Account_Management__c;Reference_Acct_Mgmt_Notice_Outreach__c;Reference_Acct_Mgmt_Retention_Outreach__c;Reference_Adoption_Agreement_Review__c;Reference_Advisor_Select__c;Reference_BeneTrac_Discrepancy__c;Reference_BeneTrac_Onboarding__c;Reference_CTT__c;Reference_Client_Relations_Details__c;Reference_Client_Relations__c;Reference_Core_Payroll__c;Reference_Credit_Risk__c;Reference_DNC_Email_List__c;Reference_Do_Not_Contact__c;Reference_ES_Action_Plan__c;Reference_ES_Client_Concern_Projects__c;Reference_ES_ERR_Contact__c;Reference_ES_Potential_Products__c;Reference_ES_Preview_to_Flex_Needs__c;Reference_ES_Products_at_Risk__c;Reference_Enterprise_Service__c;Reference_GL__c;Reference_HNBF_Open_Item__c;Reference_HNBF_Policy_Type__c;Reference_HNBF__c;Reference_HRE_CHB_Onboarding__c;Reference_HRE_CHB_Orders__c;Reference_HRG__c;Reference_HRO__c;Reference_HRS_AM_Forecast__c;Reference_HRS_Product__c;Reference_HRS_Retention_Discrepancy__c;Reference_HRS_Termination_Transfer__c;Reference_Incoming_Funds__c;Reference_KAS__c;Reference_MMS_Payroll__c;Reference_MPSC_BenAdmin_Essentials__c;Reference_MPSC_Client_Training_Request__c;Reference_MPSC_Escalations__c;Reference_MPSC__c;Reference_ORM_Returns__c;Reference_PAC_Warranty_Late_Payment__c;Reference_PAC__c;Reference_PEO_Candidates__c;Reference_PEO_Client_Satisfaction_Call__c;Reference_PEO_Discrepancy__c;Reference_PEO_FROI__c;Reference_PEO_No_Start__c;Reference_PEO_SA__c;Reference_PEO__c;Reference_P_C__c;Reference_Payroll_Fulfillment__c;Reference_S125_Onboarding__c;Reference_TAA__c;Reference_Terms_Transfers__c;Referral_Account__c;Referral_Contact__c;Referral_Partner__c;RightAnswersAttached__c;S125_Discrepancy__c;SBQQ__QuoteDocument__c;SBQQ__QuoteTerm__c;SBQQ__Quote__c;SBQQ__WebQuote__c;ServiceContract;Solution;State__c;Strategic_Business_Analysis__c;TimeTrade_SF1__Invitation__c;TimeTrade_SF1__Meeting__c;TimeTrade_SF1__TimeTrade_Schedule_Workflow__c;Transfer_Tracking__c;X401k_Discrepancy__c;denaliCadences__Denali_Cadence_Member__c;denaliCadences__Denali_Touchpoint__c;dsfs__DocuSign_Recipient_Status__c;dsfs__DocuSign_Status__c;mkto_si__Get_Method_Argus__c;qbdialer__UserStatusLog__c;qualtrics__Survey_Response__c;qualtrics__Survey_Staging__c;sectools__Field_Classification_Permission__c;sectools__IS_Object_Classification__c;sectools__IS_Object_Field_Classification__c;sectools__Profile_Permission__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>WhatId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Reference_Incoming_Funds__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Reference_Incoming_Funds__c</objectType>
    </variables>
</Flow>
