force-app/main/default/flows/RFP_Conga.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>RFI_Assignment</name>
        <label>RFI Assignment</label>
        <locationX>717</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>Request_Format</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Required_Format</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFI_Additional_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppLinkStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/APXTConga4__Conga_Composer?serverUrl={!CongaServer}&amp;id={!Opp_Id}&amp;QueryId=a0I7000000AYsAlEAL&amp;EmailToId=00370000015iIg3&amp;EmailRelatedToId={!Opp_Id}&amp;LG4=1&amp;SC0=1&amp;SC1=SalesforceFile&amp;AttachmentParentID={!Opp_Id}&amp;BML=Compiling+RFI+Data&amp;DS7=12</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RFI_Finalize_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RFP_Assignment</name>
        <label>RFP Assignment</label>
        <locationX>250</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>Request_Format</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFP_Required_Format</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Intent_Letter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFP_Intent_to_propose_letter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RFP_Additional_Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppLinkStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/APXTConga4__Conga_Composer?serverUrl={!CongaServer}&amp;id={!Opp_Id}&amp;QueryId=a0I7000000AYsAlEAL&amp;EmailToId=00370000015iIg3&amp;EmailRelatedToId={!Opp_Id}&amp;LG4=1&amp;SC0=1&amp;SC1=SalesforceFile&amp;AttachmentParentID={!Opp_Id}&amp;BML=Compiling+RFP+Data&amp;DS7=12</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RFP_Finalize_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>IntentToProposeLetter_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>IntentToProposeLetter_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFI</name>
        <choiceText>RFI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFI</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFI_Questions_are_specific_and_paychex_format</name>
        <choiceText>Questions are specific, but the RFI format is at the discretion of Paychex.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions are specific, but the RFI format is at the discretion of Paychex.</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFI_Questions_are_specific_and_prospects_format</name>
        <choiceText>Questions are specific and the format must use the prospect’s RFI format</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions are specific and the format must use the prospect’s RFI format</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFI_Security_questionnaire_white_paper</name>
        <choiceText>Security questionnaire (white paper)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security questionnaire (white paper)</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFP</name>
        <choiceText>RFP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RFP</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFP_no_specific_requirements</name>
        <choiceText>There are no specific requirements; provide a general proposal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>There are no specific requirements; provide a general proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFP_Questions_are_specific_and_paychex_format</name>
        <choiceText>Questions are specific, but the RFP format is at the discretion of Paychex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions are specific, but the RFP format is at the discretion of Paychex</stringValue>
        </value>
    </choices>
    <choices>
        <name>RFP_Questions_are_specific_and_prospects_format</name>
        <choiceText>Questions are specific and the format must use the prospect’s RFP format</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions are specific and the format must use the prospect’s RFP format</stringValue>
        </value>
    </choices>
    <decisions>
        <name>RFP_or_RFI_Decision</name>
        <label>RFP or RFI Decision</label>
        <locationX>490</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>RFP_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_RFP_or_an_RFI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RFP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFP_Start_Screen</targetReference>
            </connector>
            <label>RFP Outcome</label>
        </rules>
        <rules>
            <name>RFI_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_an_RFP_or_an_RFI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RFI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RFI_Start_Screen</targetReference>
            </connector>
            <label>RFI Outcome</label>
        </rules>
    </decisions>
    <description>changing to oAuth Conga URL</description>
    <interviewLabel>RFP/RFI Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RFP/RFI Request</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Opp_Lookup</name>
        <label>Opp_Lookup</label>
        <locationX>490</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp_Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>Opp_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Opp_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>RFI_Finalize_Screen</name>
        <label>RFI Finalize Screen</label>
        <locationX>717</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RFILink</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot;&gt;&lt;A HREF=&quot;{!AppLinkStart}&amp;TemplateId=a0L70000009LT9Y&amp;Dv1={!Request_Format}&amp;Dv2={!Additional_Comments}&amp;EmailTemplateId=a1A0g000009gRQp&quot; TARGET=&quot;_self&quot;&gt;Finalize Request&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RFI_Start_Screen</name>
        <label>RFI Start Screen</label>
        <locationX>717</locationX>
        <locationY>214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RFI_Assignment</targetReference>
        </connector>
        <fields>
            <name>RFI_Start_Text</name>
            <fieldText>RFI for {!Opp_Name} opportunity.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RFI_Required_Format</name>
            <choiceReferences>RFI_Security_questionnaire_white_paper</choiceReferences>
            <choiceReferences>RFI_Questions_are_specific_and_paychex_format</choiceReferences>
            <choiceReferences>RFI_Questions_are_specific_and_prospects_format</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of RFI is required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RFI_Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RFP_Finalize_Screen</name>
        <label>RFP Finalize Screen</label>
        <locationX>252</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RFPLink</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;{!AppLinkStart}&amp;TemplateId=a0L70000009LT9E&amp;Dv0={!Intent_Letter}&amp;Dv1={!Request_Format}&amp;Dv2={!Additional_Comments}&amp;EmailTemplateId=a1A0g000009gRQp&quot; TARGET=&quot;_self&quot;&gt;Finalize Request&lt;/A&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RFP_Start_Screen</name>
        <label>RFP Start Screen</label>
        <locationX>249</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RFP_Assignment</targetReference>
        </connector>
        <fields>
            <name>RFP_Start_Text</name>
            <fieldText>RFP for {!Opp_Name} opportunity.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RFP_Intent_to_propose_letter</name>
            <choiceReferences>IntentToProposeLetter_Yes</choiceReferences>
            <choiceReferences>IntentToProposeLetter_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is a letter indicating the intent to propose required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RFP_Required_Format</name>
            <choiceReferences>RFP_no_specific_requirements</choiceReferences>
            <choiceReferences>RFP_Questions_are_specific_and_paychex_format</choiceReferences>
            <choiceReferences>RFP_Questions_are_specific_and_prospects_format</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of proposal is required?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RFP_Additional_Comments</name>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>490</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RFP_or_RFI_Decision</targetReference>
        </connector>
        <fields>
            <name>Label_Text</name>
            <fieldText>{!Opp_Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_an_RFP_or_an_RFI</name>
            <choiceReferences>RFP</choiceReferences>
            <choiceReferences>RFI</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this request for an RFP or an RFI?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Opp_Lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>Additional_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AppLinkStart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CongaServer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Intent_Letter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Id of the opportunity.</description>
        <name>Opp_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opp_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request_Format</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Request_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Session_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
