force-app/main/default/flows/Update_Shell_Loaded_by_Employees_loaded_by_when_Shell_loaded_entered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>shell loaded entered and not null</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>SEDI complete changed and true</label>
        </rules>
    </decisions>
    <description>1- On the reference PEO in the PEO Web Based Onboarding layout we are looking to have the username of the specialist populate in the field [Shell Loaded By] when the field [Shell Loaded] gets a date entered. Can we also have that field added to the PEO Web Based Onboarding layout under the field [Shell Loaded].   2-On the reference PEO in the PEO Web Based Onboarding layout we are looking to have the username of the specialist populate in the field [Employees Loaded By] when the field [SEDI Complete] gets a date entered. Can we also have that field added to the PEO Web Based Onboarding layout under the field [SEDI Complete]. Case#</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$User.FirstName +&apos; &apos;+$User.LastName </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0872743149</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} +&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$User.FirstName +&apos; &apos;+$User.LastName </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_7669613256</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} +&apos; &apos;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>/* Record type = &quot;PEO Web Based Onboarding&quot; */
( [Reference_PEO__c].RecordTypeId = &apos;012700000001jeXAAQ&apos; 
||
/* OR Record type = &quot;PEO Hybrid Based Onboarding&quot; */
[Reference_PEO__c].RecordTypeId = &apos;0120g000000l3qDAAQ&apos;
)
&amp;&amp;
( ISCHANGED([Reference_PEO__c].Shell_Loaded__c )
||  
( ISNEW() &amp;&amp; NOT( ISNULL([Reference_PEO__c].Shell_Loaded__c)))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>/* Record type = &quot;PEO Web Based Onboarding&quot; */
( {!myVariable_current.RecordTypeId} = &apos;012700000001jeXAAQ&apos; 
||
/* OR Record type = &quot;PEO Hybrid Based Onboarding&quot; */
{!myVariable_current.RecordTypeId} = &apos;0120g000000l3qDAAQ&apos;
)
&amp;&amp;
( ISCHANGED({!myVariable_current.Shell_Loaded__c} )
||  
( ISNEW() &amp;&amp; NOT( ISNULL({!myVariable_current.Shell_Loaded__c})))
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>/* Record type = &quot;PEO Web Based Onboarding&quot; */
AND(ISBLANK([Reference_PEO__c].Employees_Loaded_By__c ),
( [Reference_PEO__c].RecordTypeId = &apos;012700000001jeXAAQ&apos; 
||
/* OR Record type = &quot;PEO Hybrid Based Onboarding&quot; */
[Reference_PEO__c].RecordTypeId = &apos;0120g000000l3qDAAQ&apos;
)
&amp;&amp;
([Reference_PEO__c].SEDI_Complete__c == True 
|| 
NOT(ISBLANK([Reference_PEO__c].Employees_Loaded__c ))
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>/* Record type = &quot;PEO Web Based Onboarding&quot; */
AND(ISBLANK({!myVariable_current.Employees_Loaded_By__c} ),
( {!myVariable_current.RecordTypeId} = &apos;012700000001jeXAAQ&apos; 
||
/* OR Record type = &quot;PEO Hybrid Based Onboarding&quot; */
{!myVariable_current.RecordTypeId} = &apos;0120g000000l3qDAAQ&apos;
)
&amp;&amp;
({!myVariable_current.SEDI_Complete__c} == True 
|| 
NOT(ISBLANK({!myVariable_current.Employees_Loaded__c} ))
))</expression>
    </formulas>
    <interviewLabel>Update_Shell_Loaded_by_Employees_loaded_by_when_Shell_loaded_entered-4_InterviewLabel</interviewLabel>
    <label>Update Shell Loaded by/Employees loaded by when Shell loaded entered</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Reference_PEO__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Populate shell loaded by</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Shell Loaded By</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Shell_Loaded_By__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0872743149</elementReference>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Reference_PEO__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Populate Employees loaded by</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Employees Loaded By</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Employees_Loaded_By__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_7669613256</elementReference>
            </value>
        </inputAssignments>
        <object>Reference_PEO__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Reference_PEO__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Reference_PEO__c</objectType>
    </variables>
</Flow>
